/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, textarea, select
	{ margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Generic styles */
body { font-family:"Lucida", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", "Arial", sans-serif; font-size:11px; line-height:1.73; color:#999999; }
a,
.link { text-decoration:none; color:#000000; cursor:pointer; }
a:hover,
.link:hover { text-decoration:underline; }
input, select, textarea { border:1px solid #d9d9d9; }
h1 { font-size:26px; line-height:30px; color:#343a4a; text-transform:uppercase; }
h2 { display:inline-block; padding:2px 7px; border:1px solid #cccccc; border-bottom-width:0px; background-color:#eaebed; color:#343a4a; text-transform:uppercase; font-size:12px;-moz-border-radius-topleft: 0px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 0px;-moz-border-radius-bottomleft: 0px;-webkit-border-radius: 0px 5px 0px 0px;border-radius: 0px 5px 0px 0px;}
h3 { margin:7px 0px; font-size:15px; color:#343a4a; border-bottom:1px solid #cccccc; }

/* Layout */
html { background-image:url('../img/background.png'); background-repeat:repeat-x; background-color:#f2f2f2; }
body { position:relative; width:990px; margin:0px auto;}
#body { position:absolute; top:132px; left:150px; width:630px; padding:15px; overflow:hidden; background-color:#ffffff; border:1px solid #cccccc; border-top-width:0px; }
#aside { position:absolute; top:132px; right:0px; width:180px; overflow:hidden; }

/* Logo */
#logo { position:absolute; top:26px; left:-31px; }
#logo a { display:block; width:165px; height:51px; background-image:url('../img/logo.png'); background-repeat:no-repeat; }

/* Search */
#search { position:absolute; left:150px; width:645px; height:70px; padding:30px 0px 0px 15px; border-left:1px solid #666666; border-right:1px solid #666666; }
#search .search_input { width:570px; height:30px; line-height:28px; box-shadow:inset 0 0 3px #999999; border-radius:4px; }
#search .search_input:focus { font-size:14px; color:#343a4a; }
#search .search_submit { height:31px; font-size:19px; }

/* Language selector */
#language { position:absolute; top:6px; right:118px; width:51px; z-index:50; }
#language a { display:block; color:#ffffff; text-decoration:none; }
#language .expandable a,
#language .expandable li:first-child { padding:1px 4px 1px 24px; }
#language .expandable li { background-position:5px 4px; background-repeat:no-repeat; }
#language .expandable li.en { background-image:url('../flags/us.png'); }
#language .expandable li.fr { background-image:url('../flags/fr.png'); }

/* Timezone selector */
#timezone { position:absolute; top:6px; right:10px; z-index:50; }
#timezone .expandable { width:99px; }
#timezone .expandable li { padding:1px 5px; }



/* Language and timezone selectors shared styles */
#language,
#timezone { font-size:10px; color:#ffffff; text-transform:uppercase; background-color:#3f474f; border-radius:4px; }
#language .expandable,
#timezone .expandable { box-shadow:0px -1px 2px #333333; border-radius:4px; }
#language .expandable:hover,
#timezone .expandable:hover { box-shadow:0px 1px 4px #999999; }
#language .expandable li:hover,
#timezone .expandable li:hover { background-color:#5a5e69; border-radius:4px; }
#language .expandable li:first-child:hover,
#timezone .expandable li:first-child:hover { background-color:transparent; }
#language .expandable li:first-child:after,
#timezone .expandable li:first-child:after { content:"▼"; margin-left:4px; font-size:9px; }

/* Signup button */
#signup { position:absolute; top:0px; right:0px; height:70px; padding-top:30px; border-right:1px solid #666666; }
#signup a { display:block; width:143px; height:19px; line-height:19px; margin-right:16px; padding:10px 0px; background-color:#f23937; font-size:14px; color:#ffffff; text-align:center; text-transform:uppercase; text-decoration:none; border:1px solid #999999; background-image:url('../img/effects/reflection_300_15.png'); background-repeat:no-repeat; background-position:center -275px; border-radius:4px; }
#signup a:hover { background-color:#f95047; }

/* Navigation */
#navigation { position:absolute; width:135px; top:136px; }
#navigation ul { padding:10px 0px 7px 0px; border-bottom:1px solid #cccccc; }
#navigation ul ul { padding:0; border-bottom-width:0px; } /* <= compatibility : resetting previous line, which should/could have been #navigation > ul */
#navigation li { /* compatibility => */ display:inline; }
#navigation li a { padding:2px 5px; color:#343a4a; display:block; text-transform:uppercase; text-align:right; text-decoration:none; }
#navigation li a:hover,
#navigation li.active a { color:#ffffff; background-color:#ea4839; }
#navigation li.image a { padding:0px; }
#navigation li.image a:hover { background-color:transparent; }
#navigation li.active li a, /* <= compatibility : resetting previous line, which should/could have been #navigation > li.active a */
#navigation li li a { padding:0px 5px 1px 5px; color:#999999; text-transform:none; background-color:transparent; }
#navigation li li a:hover,
#navigation li li.active a { color:#ea4839; background-color:transparent; }
#navigation ul:last-child li li a { text-transform:capitalize; }
#navigation li a:first-letter { text-transform:uppercase; }
#navigation_flat{ position:absolute; width:165px; top:136px; right:0;border:1px solid red; }

/* Login form inside navigation */
#navigation form.login { line-height:20px; padding:13px 0px 7px 0px; text-align:right; border-bottom:1px solid #cccccc; }
#navigation form.login a { display:inline-block; }
#navigation form.login input[type=text],
#navigation form.login input[type=password] { width:123px; padding:2px 5px; margin-bottom:10px; text-align:right; color:#999999; border-radius:2px; }
#navigation form.login input[type=checkbox] { float:right; margin-top:2px; }
#navigation form.login input[type=text]:focus,
#navigation form.login input[type=password]:focus { color:#343a4a; }
#navigation form.login label { float:right; padding-left:5px; /* compatibility => */ white-space:nowrap; }
#navigation form.login .button { display:inline; margin-bottom:7px; }
#navigation form.login a:first-letter,
#navigation form.login label:first-letter { text-transform:uppercase; }

/* Sub navigation */
#navigation_sub ul { height:37px; margin:14px 0px 20px 0px; background-color:#313645; box-shadow:1px 1px 1px #cccccc; }
#navigation_sub li { float:left; height:37px; }
#navigation_sub li a { min-height:27px; max-height:27px; /* <= compatibility : height:27px; should/could be enough */ display:block; padding:8px; color:#ffffff; font-size:12px; text-transform:uppercase; text-decoration:none; }
#navigation_sub li:hover { background-color:#474c5a; }
#navigation_sub li.active { background-color:#ea4839; box-shadow:0px 1px 1px #cccccc, inset 0px 0px 1px #ffffff; }
#navigation_sub li.active a { background-image:url('../img/navigation_sub_active.png'); background-repeat:no-repeat; background-position:center 36px; }

/* Navigation aside (subscription) */
#navigation_aside { position:absolute; top:101px; left:150px; width:660px; height:30px; border-left:1px solid #cccccc; border-right:1px solid #cccccc; }
#navigation_aside ul { position:relative; z-index:300; float:right; height:30px; margin-right:-1px; }
#navigation_aside li { float:left; height:28px; margin:1px 0px; border-right:1px solid #cccccc; background-position:7px 7px; background-repeat:no-repeat; }
#navigation_aside li:hover,
#navigation_aside li.active { margin:-1px 0px 0px -1px; padding:1px 0px 2px 0px; background-position:7px 8px; background-color:#ffffff; border:1px solid #313a48; border-bottom-width:0px; }
#navigation_aside li.bets a,
#navigation_aside li.flagged_bets a,
#navigation_aside li.friends_bets a { width:auto; height:0px; padding:14px 5px 24px 5px; overflow:visible; /* compatibility => */ _width:0; }
#navigation_aside li.other		{ background-image:url('../img/navigation_aside/notifications.png'); }
#navigation_aside li.statistics	{ background-image:url('../img/navigation_aside/statistics.png'); }
#navigation_aside li.friends	{ background-image:url('../img/navigation_aside/friends.png'); }
#navigation_aside li.messages	{ background-image:url('../img/navigation_aside/messages.png'); }
#navigation_aside li.settings	{ background-image:url('../img/navigation_aside/settings.png'); }
#navigation_aside li.logout		{ background-image:url('../img/navigation_aside/logout.png'); }
#navigation_aside li > a:first-letter { text-transform:uppercase; /* compatibility => */ letter-spacing:-0.5px; }
#navigation_aside li > a:hover { text-decoration:none; }
#navigation_aside li > a,
#navigation_aside .toggler { position:relative; width:30px; height:0px; display:block; padding-top:38px; margin-top:-10px; overflow:hidden; color:#666666; }
#navigation_aside .counter { position:absolute; top:0px; right:1px; width:16px; height:16px; line-height:16px; font-size:8px; color:#ffffff; text-align:center; background-color:#f54c4a; border-radius:8px; box-shadow:inset 0px 1px 1px #dddddd, 0px 1px 1px #999999; }
#navigation_aside .dropdown.inner { position:absolute; z-index:-1; top:30px; right:-1px; width:300px; background-color:#ffffff; border:1px solid #313a48; }
#navigation_aside .dropdown.inner .empty,
#navigation_aside .dropdown.inner .list .notification { padding:8px 13px; border-bottom:1px solid #ececec; }
#navigation_aside .dropdown.inner .list img { vertical-align:middle; }
#navigation_aside .dropdown.inner .more { padding:2px 0px; text-align:center; background-color:#f2f2f2; }
#navigation_aside .hidden { display:none; }

/* Logout position */
#logout { position:absolute; top:101px; right:0px; z-index:50;height:30px; }
#logout a{display:block; border-right:1px solid #cccccc;width:65px;height:28px;margin:1px 0;text-align:center;color:#7b7b7b;line-height:30px;}
#logout a:hover{color:#666; }

/* Messages */
#messages { position:absolute; top:1px; left:151px; width:660px; background-color:#3a3e49; color:#ffffff; }
#messages li { padding:1px 5px; border-bottom:1px solid #5a5e69; }
#messages a { color:#ea4839; }

/* Body head elements */
#body_head .image img { float:left; margin:2px 10px 0px 0px; padding:5px; width:75px; height:75px; border:1px solid #d9d9d9; }
#body_head .title,
#body_head .action,
#body_head .popularity_block { display:inline-block; /* compatibility => */ zoom:1; *display:inline; }
#body_head .action { vertical-align:top; margin:1px 0px 0px 8px; }
#body_head .action .button { background-image:url('../img/button_favorite.png'); }
#body_head .popularity_block { padding:0px 12px; margin:13px 0px 6px 0px; border-left:1px solid #cccccc; vertical-align:top; }
#body_head .popularity_block:first-child { padding-left:0px; border-left-width:0px; }
#body_head .popularity_block p { margin:-4px 0px; }
#body_head .popularity_block p:first-child { margin-top:-6px; color:#343a4a; text-transform:uppercase; }
#body_head .popularity_block p:last-child { margin-bottom:-6px; }

/* Tables */
table { border:1px solid #cccccc; }
td,
th { padding:5px 7px; }
tr.odd td { background-color:#f7f7f7; }


/* Auth */
.auth h2{ display:block; clear:both;  }
.auth table { width:100%; margin-bottom:15px; clear:both; }
.auth .section{display:block;border:1px solid #ccc;margin-bottom:15px; clear:both;padding:5px;}
.auth .squad{width:100%;overflow:hidden;}
.auth .squad .person { float:left; margin:5px 2px 15px 2px;width:120px;text-align:center; }
.auth .squad .person .title { font-size:14px; }
.auth .squad .person .content { float:right; }
.auth .section ul{overflow:hidden;}
.auth .section ul li{float:left; margin:5px 2px 15px 2px;width:120px;text-align:center;}
.auth .section ul li a{display:block;}
.auth .section ul li a.image img{margin:2px 10px 0px 0px; padding:5px; width:75px; height:75px; border:1px solid #d9d9d9;}
.auth .ticket{float:left;}
.auth #container_pie{float:left;}
.auth .ticket p{overflow:hidden;line-height:26px; }
.auth .ticket p span{display:inline-block;width:70px;color:#343a4a;font-weight:bold;}
.auth .ticket p span.label{width:220px;}
.auth .ticket p span.label:first-letter{text-transform:uppercase}
.auth .ticket hr{background-color:#e6e6e6;color:#e6e6e6;border-color:#e6e6e6; width:250px;height: 1px;border: 0;}
/* log_gen */
.log_gen #body {top:101px;}
.log_gen #logo{width:990px;text-align:center;}
.log_gen #logo a{margin:0 auto;}
.log_gen .fr_title, .log_gen .en_title{	height:40px;background-repeat:no-repeat;background-image:url('../img/temp_flags.png');margin:20px 0}
.log_gen .fr_title{background-position:top left }
.log_gen .en_title{background-position:bottom left}
.log_gen h1{font-size:12px;font-weight:bold;text-transform:none;margin:0 0 0 58px}
.log_gen div.forms{display:inline-block;display:inline-block;width:310px;padding:0 5px 0 0;vertical-align:top;}
.log_gen div.last{padding:0}
.log_gen p.slogan{font-size:12px;color:#394250;margin:0 10px }
.log_gen div.forms p{line-height:14px;margin:0 0 15px 0}
.log_gen div.forms form input{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;padding:3px;width:200px;margin:0 10px 0 0;color:#bbbbbb;background:#fbfbfb}
.log_gen div.forms form input.submit{text-transform:uppercase;width:30px;background:#2e3747;border:1px solid #1f2328;color:#fff;cursor:pointer;margin:0;}
.log_gen fieldset{padding:10px;margin:10px 0 0 0;}
.log_gen legend{color:#394250;font-size:16px;font-weight:bold;}
.log_gen p.forgot{clear:both;padding:5px 0 0 0}
.log_gen p.forgot a{text-decoration:underline;font-size:10px; color:#666}

/* Home */
.home div.leaderboard{display:inline-block;width:310px;padding:0 5px 0 0}
.home div.last{padding:0}
.home div.leaderboard h2{display:block}
.home table{width:100%;}

/* Account */
.account h2 { display:block; clear:both;  }
.account table { width:100%; margin-bottom:15px; clear:both; }

/* Gsm */
.gsm h2 { display:block; clear:both;  }
.gsm table { width:100%; margin-bottom:15px; clear:both; }
.gsm th { color:#ea4839; text-transform:capitalize; }
.gsm .oponnent.A { text-align:right;width:140px; }
.gsm .oponnent.B { text-align:left; width:140px;}
.gsm td.score { text-align:center; white-space:nowrap; }
.gsm td.score table { margin:0px; }
.gsm td.score a,
.gsm td.action a { display:block; color:#ea4839; }
.gsm .winner,
.gsm tr.win			td			{ background-color:#d6efda; }
.gsm tr.win 		td.score	{ background-color:#c8dfcc; }
.gsm tr.lost		td			{ background-color:#f2d4d5; }
.gsm tr.lost 		td.score	{ background-color:#e2c5c6; }
.gsm tr.draw 		td			{ background-color:#fffccc; }
.gsm tr.draw 		td.score	{ background-color:#ededbe; }
.gsm tr.current		td			{ background-color:#bce9fd; }
.gsm tr.Fixture		td.score 	{ background-color:#f7f7f7; }
.gsm tr.Fixture.odd	td.score 	{ background-color:#eeeeee; }
.gsm td.tiny_image { width:16px; }
.gsm .tiny_image img { width:15px; height:15px; vertical-align:middle; margin-top:-2px; }
.gsm .button { margin-bottom:15px; }

/* Gsm calendar */
.gsm .calendar h2 { float:left; }
.gsm .calendar div.navigation { float:right; }

/* Gsm squad */
.gsm .squad h3 { clear:left; margin-top:20px; }
.gsm .squad h3:first-child { margin-top:0px; }
.gsm .squad .person { float:left; margin:5px 2px 15px 2px; }
.gsm .squad .person .title { font-size:14px; }
.gsm .squad .person .content { float:right; }
.gsm .squad.tab_content table { border-width:0px; }

/* Gsm person */
.identity th { color:#999999; }
.identity td { color:#666666; }
.identity tr.odd td { background-color:transparent; }

/* Last 5 sessions */
.last5 { display:inline-block; width:15px; height:15px; line-height:15px; text-align:center; font-size:10px; text-transform:uppercase; color:#ffffff; }
.last5:hover { text-decoration:none; }
.last5.W { background-color:#47920a; }
.last5.D { background-color:#e2ba00; }
.last5.L { background-color:#e50000; }

/* Sessions */
.session.header tr.odd td { background-color:transparent; }
.session.header .oponnent { font-size:16px; }
.session.header .oponnent,
.session.header .oponnent_last5,
.session.header .oponnent_image { width:38%; text-align:center; }
.session.header .information { vertical-align:top; text-align:center; text-transform:capitalize; }
.session.header .score { font-size:24px; margin-bottom:10px; color:#343a4a; background-color:#eaebed; }
.session .minute { text-align:center; color:#ff0000; }
.session img.event { display:inline-block; margin:-2px 10px 0px 10px; vertical-align:middle; /* compatibility => */ zoom:1; *display:inline; }
.session.goals tr.odd td,
.session.warnings tr.odd td,
.session.substitutions tr.odd td { background-color:transparent; }
.session.goals tr td.goal,
.session.warnings tr td.warning,
.session.substitutions tr td.substitution { width:40%; background-color:#f7f7f7; }
.session.goals .A,
.session.warnings .A,
.session.substitutions .A { text-align:right; }
.session.substitutions .substitution.SO,
.session.substitutions .substitution.SO a { color:#999999; }
.session.substitutions td.substitution p { line-height:13px; display:inline-block; /* compatibility => */ zoom:1; *display:inline; }
.session.substitutions img.event { vertical-align:top; margin-top:5px; }
.session.lineups { float:left; width:49%; clear:none; }
.session.lineups.B { float:right; }
.session.lineups img.event { margin-left:2px; }

/* Tabs (quickly themed) */
.tab_link { display:inline-block; padding:3px 7px; background-color:#cccccc; cursor:pointer; /* compatibility => */ zoom:1; *display:inline; }
.tab_link:hover,
.tab_link.selected { background-color:#eeeeee; }
.tab_link.selected { color:#666666; }
.tab_content { display:none; padding:5px; border:1px solid #eeeeee; background-color:#ffffff; }

/* Bet list (quickly themed) */
td.result .won		{ display:inline-block; width:16px; height:16px; background-image:url('../img/actions/bet-won.png'); }
td.result .lost		{ display:inline-block; width:16px; height:16px; background-image:url('../img/actions/bet-lost.png'); }
td.result .canceled	{ display:inline-block; width:16px; height:16px; background-image:url('../img/actions/bet-canceled.png'); }
td.action .flag		{ display:inline-block; width:16px; height:16px; background-image:url('../img/actions/bet-flag.png'); }
tr.canceled { background-color:#ccdaf7; }
tr.won 		{ background-color:#ccf7de; }
tr.lost		{ background-color:#f7d0cc; }

/* Tree */
div.tree ul { display:none; margin:3px 0px 0px 20px; }
div.tree li a { color:#666666; }
div.tree h4 { text-transform:uppercase; color:#333333; cursor:pointer; }

/* Quick and dirty form styles (for filters) */
#body_content form table { width:100%; }
#body_content form th { color:inherit; }
#body_content form tr.odd td { background-color:transparent; }
#body_content form select { width:130px; margin-right:5px; }
#body_content form p { display:inline; }
#body_content form input[type=submit].button_naked { display:inline; margin:0px; padding:2px 5px; text-transform:uppercase; }
#body_content form.filter { margin-bottom:10px; }
#body_content form.filter table { margin-bottom:0px; }

/* Publication form */
#publication { margin-bottom:12px; background-color:#f2f2f2; }
#publication_head { padding:9px 15px; border-bottom:1px solid #cccccc; }
#publication_head span { color:#343a4a; text-transform:uppercase; }
#publication_head ul { display:inline; }
#publication_head li { display:inline; padding-right:15px; color:#999999; }
#publication_head a { color:#999999; }
.publication_ticket a { padding-left:19px; background-image:url('../img/publication_ticket.png'); background-repeat:no-repeat; }
.publication_status a { padding-left:20px; background-image:url('../img/publication_status.png'); background-repeat:no-repeat; }

/* Ticket form */
#global_form { display:none; padding:15px; background-color:#f2f2f2; border-bottom:1px solid #999999; }
#publication_ticket_form div { padding:8px 0px; }
#publication_ticket_form select { width:312px; }
#publication_ticket_form label{ display:inline-block; width:110px; color:#343a4a; /* compatibility => */ zoom:1; *display:inline; }
#publication_ticket_form textarea,
#publication_ticket_form input[type=text] { width:300px; padding:2px 5px; }
#publication_ticket_form textarea { height:100px; }
#publication_ticket_form table { margin:10px 0px 10px -15px; width:630px; background-color:#eaebed; }
#publication_ticket_form table .session { color:#343a4a; }
#publication_ticket_form table input[type=submit] { margin:5px 0px 5px auto; }
#publication_ticket_form .type { margin:15px -15px 0px -15px; padding:15px 0px 8px 15px; border-top:1px solid #999999; }
#publication_ticket_form .bookmaker_stake { padding:0px; }
#publication_ticket_form .bookmaker_stake div { display:inline-block; padding:0px; margin-right:30px; color:#343a4a; }
#publication_ticket_form .bookmaker_stake label { display:inline; margin-right:5px; }
#publication_ticket_form .bookmaker_stake select { width:auto; }
#publication_ticket_form .action { margin-top:15px; padding:0px; }
#publication_ticket_form .action label { display:inline; }
#publication_ticket_form .action input { float:right; }
#publication_ticket_form .action input[type=button] { margin-left:10px; }
#publication_ticket_form .action input[type=radio] { margin-top:6px; margin-left:-15px; }
#publication_ticket_form #ticket_submit_delete { float:right; margin-top:0px; }

/* Status form */
#publication_status_form .comment_form_container textarea { width:588px; }

/* Comments */
.comment_form_container textarea { width:530px; height:50px; margin-top:10px; padding:5px; }
.comment_form_container img { float:left; margin:10px 10px 10px 0px; }
#body_content > .comment_form_container { margin-bottom:15px; }
#body_content > .comment_form_container textarea { width:548px; }
dl#comments img { clear:left; float:left; margin:6px 10px 8px 0px; }
dl#comments dt,
dl#comments dd { display:table-row; }
dl#comments dt { color:#999999; }
dl#comments dt a { font-weight:bold; }
dl#comments dd p { margin:0px 0px 5px -46px; padding:0px 0px 12px 46px; border-bottom:1px solid #e6e6e6; }
table.comments td { padding:10px 20px; }
table.comments textarea { width:505px; }

/* Search generic style */
input.search_input { float:left; width:260px; height:20px; line-height:18px; padding:4px 49px 5px 9px; font-size:11px; border:1px solid #999b9c; border-right-width:0px; color:#999999; background-color:#ffffff; }
input.search_submit{ width:40px; height:21px; margin:5px 0px 0px -45px; padding:0px 0px 0px 0px; border:1px solid #5e626b; overflow:hidden; cursor:pointer; color:#ffffff; background-color:#2a2f3c; text-transform:uppercase; font-size:12px; border-radius:4px; }

/* Search autocomplete */
.yourlabs_autocomplete.outer_container { top:-2px; width:628px; margin-top:1px; background-color:#ffffff; border:1px solid #343a4a; border-top-width:0px; }
.yourlabs_autocomplete li { padding-left:10px; font-size:12px; color:#343a4a; background-color:#f2f2f2; }
.yourlabs_autocomplete .option,
.yourlabs_autocomplete a { display:block; padding:4px 15px 4px 32px; font-size:11px; background-color:#ffffff; text-decoration:none; cursor:pointer; background-position:10px 5px; background-repeat:no-repeat; }
.yourlabs_autocomplete a { margin-left:-10px; }
.yourlabs_autocomplete .option.active,
.yourlabs_autocomplete a:hover,
.yourlabs_autocomplete li.active a 		{ color:#ffffff; background-color:#ea4839; }
.yourlabs_autocomplete li.soccer a 		{ background-image:url('../img/sports/soccer_tiny.png'); }
.yourlabs_autocomplete li.hockey a 		{ background-image:url('../img/sports/hockey_tiny.png'); }
.yourlabs_autocomplete li.americanfootball a 		{ background-image:url('../img/sports/americanfootball_tiny.png'); }
.yourlabs_autocomplete li.rugby  a 		{ background-image:url('../img/sports/rugby_tiny.png'); }
.yourlabs_autocomplete li.tennis a 		{ background-image:url('../img/sports/tennis_tiny.png'); }
.yourlabs_autocomplete li.basketball a	{ background-image:url('../img/sports/basketball_tiny.png'); }
.yourlabs_autocomplete li.volleyball a	{ background-image:url('../img/sports/volleyball_tiny.png'); }
.yourlabs_autocomplete li.user a 		{ background-image:url('../img/entities/user_tiny.png'); }
.yourlabs_autocomplete li.bookmaker a 	{ background-image:url('../img/entities/bookmaker_tiny.png'); }

/* Activity */
.activity { width:583px; color:#666666; }
.activity a,
.activity .link { color:#3b5998; }
.activity cite { color:#999999; }
.activity .details { margin-left:47px; margin-bottom:8px; padding-bottom:12px; border-bottom:1px solid #f2f2f2; }
.activity .action a,
.activity .action .link { font-weight:bold; }
.activity .date,
.activity .comments_link,
.activity .bet_list_link { display:inline-block; /* compatibility => */ zoom:1; *display:inline; }
.activity .date { color:#999999; }
.activity .comments_link { text-transform:capitalize; }
.activity .comments,
.activity .bet_list { display:none; }

/* Activity comments */
.activity .comments { margin-top:5px; padding:10px; background-color:#f2f2f2; }
.activity dl#comments dd p { width:465px; border-bottom-color:#ffffff; }
.activity .comment_form_container textarea { width:434px; }

/* Activity icons */
.activity .image { position:absolute; width:36px; height:36px; left:15px; margin-top:4px; background-repeat:no-repeat; background-position:top center; }
.activity.bets-on 					.image { background-image:url('../img/actions/bets-on.png'); }
.activity.commented					.image { background-image:url('../img/actions/commented.png'); }
.activity.wall-posted				.image { background-image:url('../img/actions/wall-posted.png'); }
.activity.updated-his-status		.image { background-image:url('../img/actions/updated-his-status.png'); }
.activity.closed-ticket				.image { background-image:url('../img/actions/closed-ticket.png'); }
.activity.closed-ticket-combined	.image { background-image:url('../img/actions/closed-ticket-combined.png'); }
.activity.started-following 		.image { background-image:url('../img/actions/started-following.png'); }
.activity.corrected 		        .image { background-image:url('../img/actions/corrected.png'); }
.activity.flagged 		        	.image { background-image:url('../img/actions/flagged.png'); }
.activity.registered 		        .image { background-image:url('../img/actions/registered.png'); }

/* Activity extended elements */
.activity.extended .details { padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #f2f2f2; }
.activity.extended a:first-child { display:inline-block; margin-bottom:3px; font-weight:bold; /* compatibility => */ zoom:1; *display:inline; }
.activity.extended cite { display:block; margin-bottom:4px; line-height:13px; color:#000000; }
.activity.extended .image { background-image:none; }

/* Errors */
.errorlist { color:#e20000; }

/* Ajax load */
#ajaxload { position:absolute; top:3px; left:793px;	width:16px; height:16px; display:none; background-image:url('../img/ajax-loader.gif'); }

/* Utilities */
.clear { clear:both; overflow:hidden; width:0px; height:0px; line-height:0px; }

/* Expandable ul on hover */
ul.expandable li { display:none; cursor:pointer; }
ul.expandable li:first-child { display:block; }
ul.expandable:hover li { display:block; }
ul.expandable:hover { z-index:5000; }

/* Buttons-like elements */
a.button,
div.button,
span.button { display:inline-block; /* compatibility => */ zoom:1; *display:inline; }
.button { display:block; padding:4px 12px 4px 25px; line-height:1.73; border:1px solid #cccccc; background-color:#fcfcfc; background-image:url('../img/button.png'); background-repeat:no-repeat; background-position:5px 6px; color:#000000; text-transform:uppercase; border-radius:2px; box-shadow:inset 0px -40px 30px -40px #dddddd; cursor:pointer; }
.button:hover { border-color:#959595; text-decoration:none; box-shadow:inset 0px -40px 30px -40px #dddddd, inset 0 0 5px #cccccc; }
.button_simple 		{ background-image:none; padding:4px 8px; }
.button_add 		{ background-image:url('../img/button_add.png'); }
.button_delete 		{ background-image:url('../img/button_delete.png'); }
.button_comment 	{ background-image:url('../img/button_comment.png'); }
.button_favorite 	{ background-image:url('../img/button_favorite.png'); }
.button_small 			{ padding-top:1px; padding-bottom:1px; background-position:5px 3px; }
.button_backward:before { font-family:arial; content:'◄ '; font-size:12px; line-height:10px; color:#ea4839; }
.button_forward:after 	{ font-family:arial; content:' ►'; font-size:12px; line-height:10px; color:#ea4839; }

/* Forms */
#body input[type=submit] { margin:10px 0px 0px auto; }

