/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, textarea, select
	{ margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Generic styles */
body { font-family:"Lucida", "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", "Arial", sans-serif; font-size:11px; line-height:1.73; color:#999999; }
a { text-decoration:none; color:#000000; }
a:hover { text-decoration:underline; }
input, select, textarea { border:1px solid #d9d9d9; }
h1 { font-size:26px; line-height:30px; color:#343a4a; text-transform:uppercase; }
h2 { display:inline-block; padding:2px 10px; border:1px solid #cccccc; border-bottom-width:0px; background-color:#eaebed; color:#343a4a; text-transform:uppercase; }

/* Layout */
html { background-image:url('../img/background.png'); background-repeat:repeat-x; background-color:#f2f2f2; }
body { position:relative; width:990px; margin:0px auto; }
#body { position:absolute; top:101px; left:150px; width:630px; padding:15px; overflow:hidden; background-color:#ffffff; border:1px solid #cccccc; border-top-width:0px; }
#aside { position:absolute; top:101px; right:0px; width:180px; overflow:hidden; }

/* Logo */
#logo { position:absolute; top:26px; left:-31px; }
#logo a { display:block; width:165px; height:51px; background-image:url('../img/logo.png'); background-repeat:no-repeat; }

/* Search */
#search { position:absolute; left:150px; width:645px; height:70px; padding:30px 0px 0px 15px; border-left:1px solid #666666; border-right:1px solid #666666; }
#search .search_input { width:570px; height:30px; line-height:28px; box-shadow:inset 0 0 3px #999999; border-radius:4px; }
#search .search_input:focus { font-size:14px; color:#343a4a; }
#search .search_submit { height:31px; font-size:19px; }

/* Language selector */
#language { position:absolute; top:1px; right:127px; width:51px; z-index:50; }
#language a { display:block; color:#ffffff; text-decoration:none; }
#language .expandable a,
#language .expandable li:first-child { padding:2px 5px 2px 24px; }
#language .expandable li { background-position:5px 5px; background-repeat:no-repeat; }
#language .expandable li.en { background-image:url('../flags/us.png'); }
#language .expandable li.fr { background-image:url('../flags/fr.png'); }

/* Timezone selector */
#timezone { position:absolute; top:1px; right:26px; z-index:50; border-left:1px solid #5a5e69; border-right:1px solid #5a5e69; }
#timezone .expandable { width:99px; }
#timezone .expandable li { padding:2px 5px; }

/* Language and timezone selectors shared styles */
#language,
#timezone { font-size:10px; color:#ffffff; text-transform:uppercase; background-color:#3a3e49; }
#language .expandable li:hover,
#timezone .expandable li:hover { background-color:#5a5e69; }
#language .expandable li:first-child:hover,
#timezone .expandable li:first-child:hover { background-color:transparent; }
#language .expandable li:first-child:after,
#timezone .expandable li:first-child:after { content:"▼"; margin-left:4px; font-size:9px; }

/* Settings button */
#settings { position:absolute; top:1px; right:0px; width:26px; height:21px; background-color:#3a3e49; }
#settings a { display:block; width:100%; height:100%; background-image:url('../img/tool.png'); background-position:5px 3px; background-repeat:no-repeat; }
#settings a:hover { background-color:#5a5e69; box-shadow:0px 0px 1px #9a9ea9; border-radius:1px; }

/* Signup button */
#signup { position:absolute; top:0px; right:0px; height:70px; padding-top:30px; border-right:1px solid #666666; }
#signup a { display:block; width:143px; height:19px; line-height:19px; margin-right:16px; padding:10px 0px; background-color:#f23937; font-size:14px; color:#ffffff; text-align:center; text-transform:uppercase; text-decoration:none; border:1px solid #999999; background-image:url('../img/effects/reflection_300_15.png'); background-repeat:no-repeat; background-position:center -275px; border-radius:4px; }
#signup a:hover { background-color:#f95047; }

/* Navigation */
#navigation { position:absolute; width:135px; top:105px; }
#navigation ul { padding:10px 0px 7px 0px; border-bottom:1px solid #cccccc; }
#navigation ul ul { padding:0; border-bottom-width:0px; } /* <= compatibility : resetting previous line, which should/could have been #navigation > ul */
#navigation li { /* compatibility => */ display:inline; }
#navigation li a { padding:2px 5px; color:#343a4a; display:block; text-transform:uppercase; text-align:right; text-decoration:none; }
#navigation li a:hover,
#navigation li.active a { color:#ffffff; background-color:#ea4839; }
#navigation li.image a:hover { background-color:transparent; }
#navigation li.active li a, /* <= compatibility : resetting previous line, which should/could have been #navigation > li.active a */
#navigation li li a { padding:0px 5px 1px 5px; color:#999999; text-transform:none; background-color:transparent; }
#navigation li li a:hover,
#navigation li li.active a { color:#ea4839; background-color:transparent; }
#navigation ul:last-child li li a { text-transform:capitalize; }

/* Login form inside navigation */
#navigation form.login { line-height:20px; padding:13px 0px 7px 0px; text-align:right; border-bottom:1px solid #cccccc; }
#navigation form.login a { display:inline-block; }
#navigation form.login input[type=text],
#navigation form.login input[type=password] { width:123px; padding:2px 5px; margin-bottom:10px; text-align:right; color:#999999; border-radius:2px; }
#navigation form.login input[type=checkbox] { float:right; margin-top:2px; }
#navigation form.login input[type=text]:focus,
#navigation form.login input[type=password]:focus { color:#343a4a; }
#navigation form.login label { float:right; padding-left:5px; }
#navigation form.login .button { display:inline; margin-bottom:7px; }

/* Sub navigation */
#navigation_sub ul { height:37px; margin:14px 0px 20px 0px; background-color:#313645; box-shadow:1px 1px 1px #cccccc; }
#navigation_sub li { float:left; height:37px; }
#navigation_sub li a { min-height:27px; max-height:27px; /* <= compatibility : height:27px; should/could be enough */ display:block; padding:8px; color:#ffffff; font-size:12px; text-transform:uppercase; text-decoration:none; }
#navigation_sub li:hover { background-color:#474c5a; }
#navigation_sub li.active { background-color:#ea4839; box-shadow:0px 1px 1px #cccccc, inset 0px 0px 1px #ffffff; }
#navigation_sub li.active a { background-image:url('../img/navigation_sub_active.png'); background-repeat:no-repeat; background-position:center 36px; }

/* Messages */
#messages { position:absolute; top:1px; left:151px; width:660px; background-color:#3a3e49; color:#ffffff; }
#messages li { padding:1px 5px; border-bottom:1px solid #5a5e69; }
#messages a { color:#ea4839; }

/* Body head elements */
#body_head .image img { float:left; margin:2px 10px 0px 0px; padding:5px; width:75px; height:75px; border:1px solid #d9d9d9; }
#body_head .title,
#body_head .action,
#body_head .popularity_block { display:inline-block; /* compatibility => */ zoom:1; *display:inline; }
#body_head .action { vertical-align:top; margin:1px 0px 0px 8px; }
#body_head .action .button { background-image:url('../img/button_favorite.png'); }
#body_head .popularity_block { padding:0px 12px; margin:13px 0px 6px 0px; border-left:1px solid #cccccc; vertical-align:top; }
#body_head .popularity_block:first-child { padding-left:0px; border-left-width:0px; }
#body_head .popularity_block p { margin:-4px 0px; }
#body_head .popularity_block p:first-child { margin-top:-6px; color:#343a4a; text-transform:uppercase; }
#body_head .popularity_block p:last-child { margin-bottom:-6px; }

/* Tables */
table { border:1px solid #cccccc; }
td,
th { padding:2px 10px; }
tr.odd td { background-color:#fbfbfb; }

/* Gsm tables */
.gsm table { margin-bottom:15px; }
.gsm th { color:#ea4839; }
.gsm td.score { text-align:center; }
.gsm .winner,
.gsm tr.win 	td.score	{ background-color:green; }
.gsm tr.lost 	td.score 	{ background-color:red; }
.gsm tr.draw 	td.score 	{ background-color:orange; }
.gsm tr.draw 				{ background-color:#dddddd; }
.gsm tr.Fixture	td.score 	{ background-color:#dddddd; }

/* Publication form */
#publication { margin-bottom:12px; background-color:#f2f2f2; }
#publication_head { padding:9px 15px; border-bottom:1px solid #cccccc; }
#publication_head span { color:#343a4a; text-transform:uppercase; }
#publication_head ul { display:inline; }
#publication_head li { display:inline; padding-right:15px; color:#999999; }
#publication_head a { color:#999999; }
.publication_ticket a { padding-left:19px; background-image:url('../img/publication_ticket.png'); background-repeat:no-repeat; }
.publication_status a { padding-left:20px; background-image:url('../img/publication_status.png'); background-repeat:no-repeat; }

/* Ticket form */
#global_form { display:none; padding:15px; background-color:#f2f2f2; border-bottom:1px solid #999999; }
#publication_ticket_form div { padding:8px 0px; }
#publication_ticket_form select { width:312px; }
#publication_ticket_form label{ display:inline-block; width:110px; color:#343a4a; /* compatibility => */ zoom:1; *display:inline; }
#publication_ticket_form textarea,
#publication_ticket_form input[type=text] { width:300px; padding:2px 5px; }
#publication_ticket_form textarea { height:100px; }
#publication_ticket_form table { margin:10px 0px 10px -15px; width:630px; background-color:#eaebed; }
#publication_ticket_form table .session { color:#343a4a; }
#publication_ticket_form table input[type=submit] { margin:5px 0px 5px auto; }
#publication_ticket_form .type { margin:15px -15px 0px -15px; padding:15px 0px 8px 15px; border-top:1px solid #999999; }
#publication_ticket_form .bookmaker_stake { padding:0px; }
#publication_ticket_form .bookmaker_stake div { display:inline-block; padding:0px; margin-right:30px; color:#343a4a; }
#publication_ticket_form .bookmaker_stake label { display:inline; margin-right:5px; }
#publication_ticket_form .bookmaker_stake select { width:auto; }
#publication_ticket_form .action { margin-top:15px; padding:0px; }
#publication_ticket_form .action label { display:inline; }
#publication_ticket_form .action input { float:right; }
#publication_ticket_form .action input[type=button] { margin-left:10px; }
#publication_ticket_form .action input[type=radio] { margin-top:6px; margin-left:-15px; }
#publication_ticket_form #ticket_submit_delete { float:right; margin-top:0px; }

/* Comments */
.comment_form_container textarea { width:98%; height:50px; padding:5px; }

/* Search generic style */
input.search_input { float:left; width:260px; height:20px; line-height:18px; padding:4px 49px 5px 9px; font-size:11px; border:1px solid #999b9c; border-right-width:0px; color:#999999; background-color:#ffffff; }
input.search_submit{ width:40px; height:21px; margin:5px 0px 0px -45px; padding:0px 0px 0px 0px; border:1px solid #5e626b; overflow:hidden; cursor:pointer; color:#ffffff; background-color:#2a2f3c; text-transform:uppercase; font-size:12px; border-radius:4px; }

/* Search autocomplete */
.yourlabs_autocomplete.outer_container { top:-2px; width:628px; margin-top:1px; background-color:#ffffff; border:1px solid #343a4a; border-top-width:0px; }
.yourlabs_autocomplete li { padding-left:10px; font-size:12px; color:#343a4a; background-color:#f2f2f2; }
.yourlabs_autocomplete .option,
.yourlabs_autocomplete a { display:block; padding:3px 15px 3px 32px; font-size:11px; background-color:#ffffff; text-decoration:none; cursor:pointer; background-position:10px 6px; background-repeat:no-repeat; }
.yourlabs_autocomplete a { margin-left:-10px; }
.yourlabs_autocomplete .option.active,
.yourlabs_autocomplete a:hover,
.yourlabs_autocomplete li.active a { color:#ffffff; background-color:#ea4839; }
.yourlabs_autocomplete li.soccer a { background-image:url('../img/sports/soccer-tiny.png'); }
.yourlabs_autocomplete li.rugby  a { background-image:url('../img/sports/rugby-tiny.png'); }
.yourlabs_autocomplete li.tennis a { background-image:url('../img/sports/tennis-tiny.png'); }
.yourlabs_autocomplete li.basket a { background-image:url('../img/sports/basket-tiny.png'); }

/* Activity */
.activity { color:#000000; }
.activity a { color:#343a4a; }
.activity cite { color:#999999; }
.activity .image { position:absolute; width:16px; height:16px; margin-top:2px; overflow:visible; background-repeat:no-repeat; }
.activity .image a { margin-top:4px; }
.activity .details { padding-left:47px; margin-bottom:5px; }
.activity .date,
.activity .comments_link { display:inline-block; font-size:10px; font-style:italic; color:#999999; /* compatibility => */ zoom:1; *display:inline; }
.activity .comments_link { text-transform:capitalize; cursor:pointer; }
.activity .comments_link:before { content:" - "; }
.activity .comments { width:370px; margin-top:5px; padding:7px 15px 1px 15px; background-color:#f2f2f2; }
.activity .comments,
.activity .bet_list { display:none; }

/* Activity icons */
.activity.bets-on 					.image { background-image:url('../img/actions/bets-on.png'); }
.activity.commented					.image { background-image:url('../img/actions/commented.png'); }
.activity.wall-posted				.image { background-image:url('../img/actions/wall-posted.png'); }
.activity.updated-his-status		.image { background-image:url('../img/actions/updated-his-status.png'); }
.activity.closed-ticket				.image { background-image:url('../img/actions/closed-ticket.png'); }
.activity.closed-ticket-combined	.image { background-image:url('../img/actions/closed-ticket-combined.png'); }
.activity.started-following 		.image { background-image:url('../img/actions/started-following.png'); }

/* Activity extended elements */
.activity.extended .details { padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #f2f2f2; }
.activity.extended a:first-child { display:inline-block; margin-bottom:3px; font-weight:bold; /* compatibility => */ zoom:1; *display:inline; }
.activity.extended cite { display:block; margin-bottom:4px; line-height:13px; color:#000000; }
.activity.extended .image { background-image:none; }

/* Errors */
.errorlist { color:#e20000; }

/* Ajax load */
#ajaxload { position:absolute; top:3px; left:793px;	width:16px; height:16px; display:none; background-image:url('../img/ajax-loader.gif'); }

/* Utilities */
.clear { clear:both; overflow:hidden; width:0px; height:0px; line-height:0px; }

/* Expandable ul on hover */
ul.expandable li { display:none; cursor:pointer; }
ul.expandable li:first-child { display:block; }
ul.expandable:hover li { display:block; }
ul.expandable:hover { z-index:5000; box-shadow:0px 1px 4px #999999; border-radius:1px; }

/* Buttons-like elements */
a.button,
div.button { display:inline-block; /* compatibility => */ zoom:1; *display:inline; }
.button { display:block; padding:4px 12px 4px 25px; line-height:1.73; border:1px solid #cccccc; background-color:#fcfcfc; background-image:url('../img/button.png'); background-repeat:no-repeat; background-position:5px 6px; color:#000000; text-transform:uppercase; border-radius:2px; box-shadow:inset 0px -40px 30px -40px #aaaaaa; cursor:pointer; }
.button:hover { border-color:#959595; text-decoration:none; box-shadow:inset 0px -40px 30px -40px #aaaaaa, inset 0 0 5px #999999; }
.button_simple 		{ background-image:none; padding:4px 8px; }
.button_add 		{ background-image:url('../img/button_add.png'); }
.button_delete 		{ background-image:url('../img/button_delete.png'); }
.button_comment 	{ background-image:url('../img/button_comment.png'); }
.button_favorite 	{ background-image:url('../img/button_favorite.png'); }
.button_small 			{ padding-top:1px; padding-bottom:1px; background-position:5px 3px; }
.button_backward:before { font-family:arial; content:'◄ '; font-size:12px; color:#ea4839; }
.button_forward:after 	{ font-family:arial; content:' ►'; font-size:12px; color:#ea4839; }

/* Forms */
#body input[type=submit] { margin:10px 0px 0px auto; }
#body_content form { margin-bottom:15px; }