{% extends 'gsm/base.html' %}

{% load i18n %}
{% load gsm_tags %}
{% load scoobet_tags %}

{% block head_title %}{{ competition|capfirst }}: {% trans 'Free betting picks, best tipser, live scores, news, results, rankings & fixtures' %}{% endblock %}

{% block meta %}
<meta name="Description" content="{% blocktrans %}Get everything to bet and win on {{ competition }} like a pro! From news and statistics to the free picks of best {{ competition }} tipsers.{% endblocktrans %}" />
<meta name="keywords" content="{% trans 'betting' %}, {{ competition }} {% trans 'betting' %}, {{ competition }} {% trans 'free picks' %}, {{ competition }} {% trans 'picks' %}, {{ competition }} {% trans 'pick' %}, {{ competition }} {% trans 'predictions' %}, {{ competition }} {% trans 'prediction' %}" />
{% endblock %}


{% block subnav %}
<ul>
    <li class="home tab {% if tab == 'home' %}active{% endif %}">
        <a href="{{ competition.get_home_absolute_url }}" title="{{ competition }}">{% trans 'home' %}</a>
    </li>
	{% comment %}
    <li class="file tab {% if tab == 'file' %}active{% endif %}">
        <a href="{{ competition.get_file_absolute_url }}" title="{{ competition }}">{% trans 'file' %}</a>
    </li>
    <li class="news tab {% if tab == 'news' %}active{% endif %}">
        <a href="{{ competition.get_news_absolute_url }}" title="{{ competition }}">{% trans 'news' %}</a>
    </li>
	{% endcomment %}
    {% if sport.slug != 'tennis' %}
    <li class="statistics tab {% if tab == 'statistics' %}active{% endif %}">
        <a href="{{ competition.get_statistics_absolute_url }}" title="{{ competition }}">{% trans 'statistics' %}</a>
    </li>
    {% endif %}
    <li class="calendar tab {% if tab == 'calendar' %}active{% endif %}">
        <a href="{{ competition.get_calendar_absolute_url }}" title="{{ competition }}">{% trans 'calendar' %}</a>
    </li>
    <li class="picks tab {% if tab == 'picks' %}active{% endif %}">
        <a href="{{ competition.get_picks_absolute_url }}" title="{{ competition }}">{% trans 'picks' %}</a>
    </li>
</ul>
{% endblock %}

{% block body_head %}
	<div class="image">
	</div>
	
	<div class="title">
		<h1>{{ competition }}</h1>
	</div>
	
	<div class="action">
    {% if competition in request.user.competition_set.all %}
		<a class="button" href="{% url gsm_fan 'unbecome' 'Competition' competition.pk %}">{% trans 'i do not bet on it' %}</a>
    {% else %}
        <a class="button" href="{% url gsm_fan 'become' 'Competition' competition.pk %}">{% trans 'i bet on it' %}</a>
    {% endif %}
	</div>

    {% render_popularity_for_object request competition %}
{% endblock %}
