{% extends 'gsm/competition/base.html' %}
{% load i18n gsm_tags %}

{% block head_title %}{{ competition|capfirst }} - {% trans 'Results, livescores and fixtures of every games' %}{% endblock %}

{% block meta %}
<meta name="Description" content="{% blocktrans %}Get all results and fixtures of {{ Competition }} and follow each game in live.{% endblocktrans %}" />
<meta name="keywords" content="{% trans 'betting' %}, {{ sport }} {% trans 'betting' %}, {{ sport }} {% trans 'free picks' %}, {{ sport }} {% trans 'picks' %}, {{ sport }} {% trans 'pick' %}, {{ sport }} {% trans 'predictions' %}, {{ sport }} {% trans 'prediction' %}" />
{% endblock %}


{% block body %}
    {{ block.super }}

	<div class="calendar">
        {% if previous_page %}
            <a class="button button_simple button_small button_backward" href="{{ request.path }}?page={{ previous_page }}">{% trans 'previous' %}</a>
        {% endif %}
        {% if next_page %}
            <a class="button button_simple button_small button_forward" href="{{ request.path }}?page={{ next_page }}">{% trans 'next' %}</a>
        {% endif %}

        {% gsm_sessions_render sessions %}

        {% if previous_page %}
            <a class="button button_simple button_small button_backward" href="{{ request.path }}?page={{ previous_page }}">{% trans 'previous' %}</a>
        {% endif %}
        {% if next_page %}
            <a class="button button_simple button_small button_forward" href="{{ request.path }}?page={{ next_page }}">{% trans 'next' %}</a>
        {% endif %}
    </div>
{% endblock %}
