{% extends 'gsm/competition/base.html' %}
{% load i18n gsm_tags %}

{% block head_title %}{{ competition|capfirst }} - {% trans 'Rankings, tables, statistics, form' %}{% endblock %}

{% block meta %}
<meta name="Description" content="{% blocktrans %}Want to know everything about {{ Competition }} ? Explore all tables, rankings and see all statistics to bet wisely.{% endblocktrans %}" />
<meta name="keywords" content="{% trans 'betting' %}, {{ sport }} {% trans 'betting' %}, {{ sport }} {% trans 'free picks' %}, {{ sport }} {% trans 'picks' %}, {{ sport }} {% trans 'pick' %}, {{ sport }} {% trans 'predictions' %}, {{ sport }} {% trans 'prediction' %}" />
{% endblock %}


{% block body %}{{ block.super }}
    {% gsm_tree key='tables_tree' method='get_tables' type='season' id=competition.get_last_season.gsm_id %}

    {% if tables_tree.getroot.getchildren.1.getchildren.0.getchildren.0.getchildren.0.tag == 'group' %}
        {% for group in tables_tree.getroot.getchildren.1.getchildren.0.getchildren.0 %}
            <h2>{{ group.attrib.title }}</h2>
            {% gsm_resultstable_render group.getchildren.0 'last5' %}
        {% endfor %}
    {% endif %}

    {% if tables_tree.getroot.getchildren.1.getchildren.0.getchildren.0.getchildren.0.tag == 'resultstable' %}
        {# assume no groups #}
        {% gsm_resultstable_render tables_tree.getroot.getchildren.1.getchildren.0.getchildren.0.getchildren.0 'last5' %}
    {% endif %}
{% endblock %}
