{% load i18n %}
{% load humanize %}
{% load gsm_tags %}
	<ul>
{% if users %}
		<li>{% trans 'users'|capfirst %}</li>
    {% for user in users %}
        <li><a href="{{ user.get_absolute_url }}">{{ user }}</a></li>
    {% endfor %}
{% endif %}

{% if teams %}
		<li>{% trans 'teams'|capfirst %}</li>
    {% for team in teams %}
		<li><a href="{{ team.get_absolute_url }}">{{ team }}</a></li>
    {% endfor %}
{% endif %}

{% if sessions %}
		<li>{% trans 'matches'|capfirst %}</li>
    {% for session in sessions %}
        <li><a href="{{ session.get_absolute_url }}">{{ session }} - {{ request|timezone_adjust:session.datetime_utc|naturalday }}</a></li>
    {% endfor %}
{% endif %}

{% if players %}
		<li>{% trans 'players'|capfirst %}</li>
    {% for player in players %}
        <li><a href="{{ player.get_absolute_url }}">{{ player }}</a></li>
    {% endfor %}
{% endif %}

{% if competitions %}
		<li>{% trans 'competitions'|capfirst %}</li>
    {% for competition in competitions %}
        <li><a href="{{ competition.get_absolute_url }}">{{ competition }}</a></li>
    {% endfor %}
{% endif %}

{% if bookmakers %}
		<li>{% trans 'bookmakers'|capfirst %}</li>
    {% for bookmaker in bookmakers %}
        <li><a href="{{ bookmaker.get_absolute_url }}">{{ bookmaker }}</a></li>
    {% endfor %}
{% endif %}

{% if not results %}
		<li>{% trans 'no results'|capfirst %}</li>
		<li><a href="{% url haystack_search %}?q={{ q|urlencode }}">{% blocktrans %}Search for {{ q }}{% endblocktrans %}</a></li>
{% endif %}

</ul>
