{% load i18n %}

<form action="" method="get" class="filter">
    {% if sport %}
    <div style="display:none" class="force_sport">{{ sport.slug }}</div>
    {% endif %}
    <table>
        {% for field in filter.form %}
            {% if forloop.counter0|divisibleby:2 %}
                <tr>
            {% endif %}

                    <th>{{ field.label }}</th>
                    <td>{{ field }}</td>

            {% if not forloop.counter0|divisibleby:2 %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <a style="float:left; margin-top: 12px;" href="{{ request.path }}">{% trans 'clear filters' %}</a>
    <input type="submit" />
</form>
