{% load gsm_tags i18n pagination_tags %}

{% if paginate %}
    {% autopaginate ticket_list 10 %}
    {% paginate %}
{% endif %}

<table>
    <thead>
        <tr>
            {% if 'date' not in exclude_columns %}
                <th>{% trans 'date' %}</th>
            {% endif %}
            {% if 'ticket type' not in exclude_columns %}
                <th>{% trans 'ticket type' %}</th>
            {% endif %}
            {% if 'stake' not in exclude_columns %}
                <th>{% trans 'stake' %}</th>
            {% endif %}
            {% if 'odds' not in exclude_columns %}
                <th>{% trans 'odds' %}</th>
            {% endif %}
            {% if 'bookmaker' not in exclude_columns %}
                <th>{% trans 'bookmaker' %}</th>
            {% endif %}
            {% if 'ratio' not in exclude_columns %}
                <th>{% trans 'growth' %}/{% trans 'loss' %}</th>
            {% endif %}
            <th>{% trans 'result' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in ticket_list %}
            <tr>
                {% if 'date' not in exclude_columns %}
                    <td>{{ ticket.creation_datetime|display_date }}</td>
                {% endif %}
                {% if 'ticket type' not in exclude_columns %}
                    <td>
                        <a href="{{ ticket.get_absolute_url }}" title="{{ ticket }}">
                            {% if ticket.bet_set.count == 1 %}
                                {% trans 'simple' %}
                            {% else %}
                                {% trans 'combined' %}
                            {% endif %}
                        </a>
                    </td>
                {% endif %}
                {% if 'stake' not in exclude_columns %}
                    <td>{{ ticket.stake }}</td>
                {% endif %}
                {% if 'odds' not in exclude_columns %}
                    <td>{{ ticket.get_odds_display }}</td>
                {% endif %}
                {% if 'bookmaker' not in exclude_columns %}
                    <td>
                        <a href="{{ ticket.bookmaker.get_absolute_url }}" title="{{ ticket.bookmaker }}">{{ ticket.bookmaker }}</a>
                    </td>
                {% endif %}
                {% if 'ratio' not in exclude_columns %}
                    <td>{% if ticket.profit > 0 %}+{% endif %}{{ ticket.profit }}</td>
                {% endif %}
                <td>
                    {{ ticket.get_correction_display }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if paginate %}
    {% paginate %}
{% endif %}
