{% extends 'gsm/sport/base.html' %}

{% load i18n gsm_tags scoobet_tags bet_tags %}

{% block body %}{{ block.super }}
    {% if next_sessions %}
        <h2 class="next_sessions">{% trans 'next matches' %}</h2>
        {% gsm_sessions_render next_sessions %}
    {% endif %}

    {% if last_sessions %}
        <h2 class="last_sessions">{% trans 'last matches' %}</h2>
        {% gsm_sessions_render last_sessions %}
    {% endif %}

    {% if sport.get_rankings.count %}
        <h2>{% trans 'best tipsters' %}</h2>
        {% with sport.get_rankings|limit_qs:5 as user_list %}
            {% render_user_rankings request user_list %}
        {% endwith %}
    {% endif %}

    {% if bet_list_helper.qs.count %}
        <h2>{% trans 'random tips' %}</h2>
        {{ bet_list_helper.render_bet_table }}
    {% endif %}
{% endblock %}
