{% extends 'gsm/sport/base.html' %}

{% load i18n gsm_tags pagination_tags %}

{% block body %}{{ block.super }}
<form class="filter" action="" method="get">
    {{ filter.form.as_p }}
    <input type="submit" class="button_naked" value="go" />
</form>

<p class="align-center">
<span class="link filter_date yesterday button button_simple button_small button_backward">{% trans 'yesterday' %}</span>
<span class="link filter_date today 	button button_simple button_small">{% trans 'today' %}</span>
<span class="link filter_date tomorrow	button button_simple button_small button_forward">{% trans 'tomorrow' %}</span>
</p>
{% autopaginate filter.qs 15 as session_list %}

{% gsm_sessions_render filter.qs 1 1 %}

{% endblock %}

{% block extra_body %}
<script type="text/javascript">
$(document).ready(function() {
    $('.filter_date').click(function() {
        if ($(this).hasClass('yesterday'))
            $('form.filter input[name=start_datetime]').val('{{ yesterday|date:'Y-m-d' }}');
        if ($(this).hasClass('today'))
            $('form.filter input[name=start_datetime]').val('{{ today|date:'Y-m-d' }}');
        if ($(this).hasClass('tomorrow'))
            $('form.filter input[name=start_datetime]').val('{{ tomorrow|date:'Y-m-d' }}');
        
        $('form.filter').submit();
    });
});
</script>
{% endblock %}
