{% extends 'gsm/sport/base.html' %}

{% load i18n gsm_tags pagination_tags %}

{% block body %}{{ block.super }}
<form action="" method="get">
    {{ filter.form.as_p }}
    <input type="submit" class="button_naked" value="go" />
</form>

<a href="{{ request.path }}?datetime_utc=yesterday">{% trans 'yesterday' %}</a>
<a href="{{ request.path }}?datetime_utc=today">{% trans 'today' %}</a>
<a href="{{ request.path }}?datetime_utc=tomorrow">{% trans 'tomorrow' %}</a>

{% autopaginate filter.qs 15 as session_list %}

{% gsm_sessions_render filter.qs 1 1 %}

{% endblock %}
