{% extends "site_base.html" %}
{% load i18n %}  
{% block bodyclass %}about{% endblock %}
{% block body %}
    {% block content %}  
    {% endblock %}
{% endblock body %}
{% block subnav %}
<ul>
    <li><a href="{% url messages_inbox %} ">{% trans "Inbox" %}</a></li>
    <li><a href="{% url messages_outbox %} ">{% trans "Sent Messages" %}</a></li>
    <li><a href="{% url messages_compose %} ">{% trans "New Message" %}</a></li>
    <li><a href="{% url messages_trash %} ">{% trans "Trash" %}</a></li>
</ul>
{% endblock %}
