{% extends 'gsm/base.html' %}

{% load i18n %}
{% load gsm_tags %}

{% block body %}
    {% gsm_tree method='get_match_statistics' key='match_statistics_tree' id=entity.gsm_id %}
    {% gsm_tree method='get_match_commentary' key='match_commentary_tree' id=entity.gsm_id %}

    {% gsm_entity element=match_statistics_tree.getroot.getchildren.1 key='competition' %}
    {% gsm_entity element=competition.element.getchildren.0 key='season' %}
    {% gsm_entity element=season.element.getchildren.0 key='round' %}
    {% gsm_entity element=round.element.getchildren.0 key='match' %}
    {% gsm_entity tag='team' gsm_id=match.attrib.team_A_id key='team_A' %}
    {% gsm_entity tag='team' gsm_id=match.attrib.team_B_id key='team_B' %}

    <h1><a rel="canonical" href="{{ match.get_absolute_url }}" title="{{ match.attrib.team_A_name }} {% trans 'vs' %} {{ match.attrib.team_B_name }}">{{ match.attrib.team_A_name }} {% trans 'vs' %} {{ match.attrib.team_B_name }}</a></h1>
    
    <a href="{{ competition.get_absolute_url }}" title="{{ competition.attrib.name }}" rel="canonical">{{ competition.attrib.name }}</a>

    <a href="{{ season.get_absolute_url }}" title="{{ season.attrib.name }}" rel="canonical">{{ season.attrib.name }}</a>

    <a href="{{ round.get_absolute_url }}" title="{{ round.attrib.name }}" rel="canonical">{{ round.attrib.name }}</a>

    <table>
        <tr>
            <th>{% trans 'type' %}</th>
            <th>
                <a href="{{ team_A.get_absolute_url }}" title="{{ match.attrib.team_A_name }}" rel="canonical">{{ match.attrib.team_A_name }}</a>
            </th>
            <th>
                <a href="{{ team_B.get_absolute_url }}" title="{{ match.attrib.team_B_name }}" rel="canonical">{{ match.attrib.team_B_name }}</a>
            </th>
        </tr>
    {% for data in match.element.getchildren %}
        <tr>
            <th>{% trans data.attrib.type %}</th>
            <td>{{ data.attrib.value_team_A }}</td>
            <td>{{ data.attrib.value_team_B }}</td>
        </tr>
    {% endfor %}
    </table>

    {% for commentary in match_commentary_tree.getroot.getchildren.1.getchildren.0 %}
    {% endfor %}

{% endblock %}
