{% extends 'gsm/base.html' %}

{% load i18n %}
{% load gsm_tags %}

{% block body %}
    {% gsm_tree method='get_career' key='career_tree' id=entity.gsm_id type='player' detailed='yes' %}
    {% gsm_entity key='person' element=career_tree.getroot.getchildren.1 %}

    <h1>{{ person.attrib.name }}</h1>
    {% trans 'last updated' %} {{ person.attrib.last_updated }}
    <br>
    {{ person.attrib.first_name }} {{ person.attrib.last_name }}
    <br>
    {{ person.attrib.nationnality }} {{ person.attrib.date_of_birth }}
    <br>
    {{ person.attrib.position }}
    <br>
    {% trans 'height' %}: {{ person.attrib.height }}cm
    <br>
    {% trans 'weight' %}: {{ person.attrib.weight }}

    {% for membership in person.element.getchildren %}
        {% gsm_entity key='team' tag='team' gsm_id=membership.attrib.team_id %}
        <h2><a href="{{ team.get_absolute_url }}" title="{% trans 'details of' %} {{ membership.attrib.club_name }}">{{ membership.attrib.club_name }}</a></h2>

        <table>
            <tr>
                <th>{% trans 'competition' %}</th>
                <th>{% trans 'season' %}</th>
                <th>{% trans 'goals' %}</th>
                <th>{% trans 'penalty goals' %}</th>
                <th>{% trans 'appearances' %}</th>
                <th>{% trans 'yellow cards' %}</th>
                <th>{% trans 'second yellow cards' %}</th>
                <th>{% trans 'red cards' %}</th>
                <th>{% trans 'substitute in' %}</th>
                <th>{% trans 'substitute out' %}</th>
                <th>{% trans 'subs on bench' %}</th>
                <th>{% trans 'minutes played' %}</th>
                <th>{% trans 'shirtnumber' %}</th>
            </tr>
        {% for statistics in membership.getchildren %}
            {% gsm_entity key='season' tag='season' gsm_id=statistics.attrib.season_id %}
            {% gsm_entity key='competition' tag='competition' gsm_id=statistics.attrib.competition_id %}
            <tr>
                <td>
                    <a href="{{ competition.get_absolute_url }}" title="{% trans 'details of competition' %} {{ statistics.attrib.competition_name }}">{{ statistics.attrib.competition_name }}</a>
                </td>
                <td>
                    <a href="{{ season.get_absolute_url }}" title="{% trans 'details of season' %} {{ statistics.attrib.season_name }}">{{ statistics.attrib.season_name }}</a>
                </td>
                <td>{{ statistics.attrib.goals|default:0 }}</td>
                <td>{{ statistics.attrib.penalty_goals|default:0 }}</td>
                <td>{{ statistics.attrib.appearances|default:0 }}</td>
                <td>{{ statistics.attrib.yellow_cards|default:0 }}</td>
                <td>{{ statistics.attrib.second_yellow_cards|default:0 }}</td>
                <td>{{ statistics.attrib.red_cards|default:0 }}</td>
                <td>{{ statistics.attrib.substitute_in|default:0 }}</td>
                <td>{{ statistics.attrib.substitute_out|default:0 }}</td>
                <td>{{ statistics.attrib.subs_on_bench|default:0 }}</td>
                <td>{{ statistics.attrib.minutes_played|default:0 }}</td>
                <td>{{ statistics.attrib.shirtnumber|default:0 }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}

{% endblock %}
