{% extends 'gsm/base.html' %}

{% load i18n %}
{% load gsm_tags %}

{% block body %}
    {% gsm_entity element=entity.get_matches.getroot.getchildren.1 key='competition' %}
    {% gsm_entity element=entity.get_matches.getroot.getchildren.1.getchildren.0 key='season' %}
    
    {{ competition.get_area }}
    {{ competition.attrib.name }}
    {{ season.attrib.name }}
    {% for child0 in season.element.getchildren %}
        {% if child0.tag == 'round' %}
        {% gsm_entity element=child0 key='round' %}

        <h2>{% trans 'round' %} {{ round.attrib.name }}</h2>

        <table>
            <tr>
                <th>{% trans 'type' %}</th>
                <td>{{ round.attrib.type }}</td>
                <th>{% trans 'last update' %}</th>
                <td>{{ round.attrib.last_updated }}</td>
            </tr>
            <tr>
                <th>{% trans 'start' %}</th>
                <td>{{ round.attrib.start_date }}</td>
                <th>{% trans 'end' %}</th>
                <td>{{ round.attrib.end_date }}</td>
            </tr>
            <tr>
                <th>{% trans 'groups' %}</th>
                <td>{{ round.attrib.groups }}</td>
                <th>{% trans 'has outgroup matches' %}</th>
                <td>{{ round.attrib.has_outgroup_matches }}</td>
            </tr>
        </table>

        <h3>{% trans 'matches' %}</h3>

        <table>
            <tr>
                <th>{% trans 'details' %}</th>
                <th>{% trans 'gameweek' %}</th>
                <th>{% trans 'start' %}</th>
                <th>{% trans 'group' %}</th>
                <th>{% trans 'team A' %}</th>
                <th>{% trans 'team B' %}</th>
            </tr>
            {% for child1 in round.element.getchildren %}
                {% if child1.tag == 'aggr' %}
                    {% gsm_entity element=child1.getchildren.0 key='match' %}
                {% endif %}
                {% if child1.tag == 'group' %}
                    {% gsm_entity element=child1 key='group' %}
                    {% gsm_entity element=child1.getchildren.0 key='match' %}
                {% endif %}
                {% if child1.tag == 'match' %}
                    {% gsm_entity element=child1 key='match' %}
                {% endif %}

                {% gsm_entity tag='team' gsm_id=match.attrib.team_A_id key='team_A' %}
                {% gsm_entity tag='team' gsm_id=match.attrib.team_B_id key='team_B' %}

            <tr class="match_status_{{ match.attrib.status|lower }}">
                <td>
                    <a href="{{ match.get_absolute_url }}" title="{% trans 'details of match between' %} {{ match.attrib.team_A_name }} {% trans 'and' %} {{ match.attrib.team_B_name }}">{% trans 'details' %}</a>
                </td>
                <td>{{ match.attrib.gameweek }}</td>
                <td>{{ match.attrib.date_utc }} {{ match.attrib.time_utc }}</td>
                <td>
                    {% if group %}
                        <a href="{{ group.get_absolute_url }}">{{ group.attrib.name }}</a>
                    {% else %}
                        {% trans "None" %}
                    {% endif %}
                </td>
                <td class="{% if group and group.attrib.winner == 'team_A' %}group_winner{% endif %} {% if match.attrib.winner == 'team_A' %}match_winner{% endif %}" >
                    <a href="{{ team_A.get_absolute_url }}" title="{% trans 'details of team' %} {{ match.attrib.team_A_name }}">{{ match.attrib.team_A_name }}</a>
                    {{ match.get_A_score }}
                </td>
                <td class="{% if group and group.attrib.winner == 'team_B' %}group_winner{% endif %} {% if match.attrib.winner == 'team_B' %}match_winner{% endif %}" >
                    {{ match.get_B_score }}
                    <a href="{{ team_B.get_absolute_url }}" title="{% trans 'details of team' %} {{ match.attrib.team_B_name }}">{{ match.attrib.team_B_name }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        {% endif %}
    {% endfor %}

{% endblock %}
