{% load i18n %}

{% if blocks %}{# if blocks is missing it shouldn't crash the whole page #}
    <div class="popularity">
        {% for block in blocks %}
            <div class="popularity_block {{ block.plural_word }}">
                <p>
                    {% if block.link_all %}<a href="{{ block.link_all }}">{% endif %}
                    {{ block.html_all|safe }}
                    {% if block.link_all %}</a>{% endif %}
				</p>
                
                {% if 'html_friends' in block.keys %}
                    <p>
                        {% if block.link_friends %}<a href="{{ block.link_friends }}">{% endif %}
                            {{ block.html_friends|safe }}
                        {% if block.link_all %}</a>{% endif %}
                    </p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}

