{% load i18n %}

{% if blocks %}{# if blocks is missing it shouldn't crash the whole page #}
    <div class="popularity">
        {% for block in blocks %}
            <div class="popularity_block {{ block.plural_word }}">
                <p>
                    {{ block.html_all|safe }}
                </p>
                
                {% if 'html_friends' in block.keys %}
                    <p>
                        {{ block.html_friends|safe }}
                    </p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}

