{% load i18n %}

{% if blocks %}{# if blocks is missing it shouldn't crash the whole page #}
    <div class="popularity">
        {% for block in blocks %}
            <div class="popularity_block {{ block.plural_word }}">
                <p>
				{% if object_type == 'User'%}
                    <a href="{% url user_detail_tab object 'social' %}">{{ block.html_all|safe }}</a>
				{% else %}
                    {{ block.html_all|safe }}
                {% endif %}
				</p>
                
                {% if 'html_friends' in block.keys %}
                    <p>
                        {{ block.html_friends|safe }}
                    </p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}

