{% load i18n gsm_tags %}
<form method="post" action="{% url bet_delete bet.pk %}">
    {% csrf_token %}
    <input type="hidden" name="confirm" value="1" />
    <input type="submit" value="{% trans 'delete bet' %}" title="{% trans 'delete the whole bet' %}" class="confirm" />
</form>
<div class="bookmaker pk_{{ bet.bookmaker.pk }}">
    {% trans 'bookmaker' %}: {{ bet.bookmaker }}
</div>
<div class="stake">
    {% trans 'stake' %}: {{ bet.stake }}
</div>
<div class="type">
    {% trans 'type' %}:
    {% if bet.pronostic_set.count < 2 %}
        {% trans 'simple' %}
    {% else %}
        {% trans 'combined' %}
    {% endif %}
</div>
<div class="odds">
    {% trans 'odds' %}: {{ bet.odds|floatformat:2 }}
</div>

<table class="pronostics">
    {% for pronostic in bet.pronostic_set.all.select_related %}
    <tr class="pronostic pk_{{ pronostic.pk }}">
        <td class="session pk_{{ pronostic.session.pk }}">
            {{ pronostic.session }}
        </td>
        <td>{{ pronostic.session.datetime_utc|display_date }}</td>
        <td>{{ pronostic.session.datetime_utc|display_time }}</td>
        <td>{{ pronostic.bettype.name }}</td>
        <td>{{ pronostic.choice.name }}</td>
        <td><a href="{% url bet_pronostic_form bet.pk %}?pronostic={{ pronostic.pk }}">{% trans 'edit' %}</a></td>
        <td>
            <form action="{% url bet_pronostic_delete pronostic.pk %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="confirm" value="1" />
                <input type="submit" value="{% trans 'delete' %}" title="{% trans 'delete pronostic for match' %} {{ pronostic.session.name }}" class="confirm" />
            </form>
        </td>

    </tr>
    {% endfor %}
</table>

<form method="post" action="{% url bet_pronostic_form bet.pk %}{% if form.instance.pk %}?pronostic={{ form.instance.pk }}{% endif %}" enctype="multipart/form-data" encoding="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="sport">
        {{ form.sport.errors }}
        {% trans 'sport' %}*:
        {{ form.sport }}
    </div>
    <div class="odds" >
        {{ form.odds.errors }}
        {% trans 'odds' %}*:
        {{ form.odds }}
    </div>
    <div class="session" {% if not show_all_fields %}style="display:none;"{% endif %}>
        {{ form.session.errors }}
        {% trans 'match' %}*:
        {{ form.session }}
    </div>
    <div class="bettype" {% if not show_all_fields %}style="display:none;"{% endif %}>
        {{ form.bettype.errors }}
        {% trans 'bet type' %}*:
        {% if show_all_fields or form.bettype.errors %}
            {{ form.bettype }}
        {% else %}
            <select name="bettype"></select>
        {% endif %}
    </div>
    <div class="choice" {% if not show_all_fields %}style="display:none;"{% endif %}>
        {{ form.choice.errors }}
        {% trans 'choice' %}*:
        {% if show_all_fields or form.choice.errors %}
            {{ form.choice }}
        {% else %}
            <select name="choice"></select>
        {% endif %}
    </div>
    <div class="text">
        {{ form.text.errors }}
        {% trans 'reason' %}:
        {{ form.text }}
    </div>
    <div class="upload">
        {{ form.upload.errors }}
        {% trans 'image' %}:
        {{ form.upload }}
    </div>

    <div class="submit">
        <input type="submit" value="{% trans 'save' %}" />
    </div>
</form>

<div class="close">
    <input type="button" value="{% trans 'close bet' %}" />
</div>
