{% extends 'bet/base.html' %}

{% load i18n bet_tags %}

{% block head_title %}{% if ticket.bet_set.count > 1 %}{% trans 'Combined' %}{% else %}{% trans 'Simple' %}{% endif %} {% trans 'ticket ' %} #{{ ticket.pk }} {% trans 'by' %} {{ ticket.user }}{% endblock %}

{% block meta %}
<meta name="Deswcription" content="{% trans 'In this ticket' %}, {{ user }} {% trans 'shares his picks on matches' %} {% for bet in ticket.bet_set.all %}{{ bet.session }}{% if not forloop.last %}, {% endif %}{% endfor %}. {% trans 'Discover his free picks now' %}!" />
<meta name="keywords" content="{% trans 'picks' %}, {% trans 'pick' %}, {% trans 'bet' %}, {% trans 'betting' %}, {% trans 'prediction' %}, {% for bet in ticket.bet_set.all %}{{ bet.session }}, {{ bet.session.sport }}, {{ bet.session.season.competition }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
{% endblock %}

{% block body %}
<h1>{% trans 'ticket' %} #{{ ticket.pk }} {% trans 'by' %} {{ ticket.user }}</h1>

{% trans 'stake' %}: {{ ticket.stake }}
{% trans 'status' %}: {{ ticket.get_status_display }}
{% trans 'bet count' %}: {{ ticket.bet_set.count }}
{% trans 'odds' %}: {{ ticket.odds }}

{% render_bet_list qs=ticket.bet_set.all %}

{% endblock %}
