{% load avatar_tags i18n comments bet_tags ipdb gsm_tags %}

{% if action.open %}
    {% include 'activity/_includes/action_open.html' %}
{% endif %}


{# big switch-on-verb block #}
{% if action.verb == 'registered' %}
        <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'joined BetSpire' %} !
{% endif %}
{% if action.verb == 'joined clan' %}
        <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'joined group' %} <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{{ action.action_object }}</a>
{% endif %}
{% if action.verb == 'created clan' %}
        <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'created group' %} <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{{ action.action_object }}</a>
{% endif %}
{% if action.verb == 'bets on' %}
        <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'bets on' %} <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{{ action.action_object }}</a>
{% endif %}
{% if action.verb == 'updated his status' %}
        <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a>
		{% if action.actor != object %}:{% endif %}
        <cite>
             {{ action.action_object.comment }}
        </cite>
{% endif %}
{% if action.verb == 'wall posted' %}
        <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> 
		{% if action.target == object %}
			<cite>{{ action.action_object.comment }}</cite>
		{% else %}
			{% trans 'posted' %}
			<cite>"{{ action.action_object.comment|truncatewords:5 }}"</cite>
			{% trans 'to' %}
			<a href="{{ action.target.get_absolute_url }}" title="{{ action.target.username }}">{{ action.target.username }}</a>
		{% endif %}
{% endif %}
{% if action.verb == 'commented' %}
        <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'commented' %}
		<cite>"{{ action.action_object.comment }}"</cite>
		{% trans 'on' %}
        {% if action.action_object.content_object.verb == 'wall posted' or action.action_object.content_object.verb == 'updated his status' %}
            {% spaceless %}
            <a href="{{ action.get_absolute_url }}" title="{{ action.action_object.content_object }}">
                {% if action.action_object.content_object.verb == 'wall posted' %}
                    {% trans 'wall post' %}
                {% endif %}
                {% if action.action_object.content_object.verb == 'updated his status' %}
                    {% if action.action_object.content_object.action_object.user == action.action_object.user %}
                        {% trans 'his' %}
                    {% endif %}
                    {% trans 'status update' %}
                {% endif %} <span class="cite">"{{ action.action_object.content_object.action_object.comment }}"</span>
            </a>

                {% if action.action_object.content_object.action_object.user != action.action_object.user %}
                    {% trans 'by' %}
                    <a href="{{ action.action_object.content_object.action_object.user.get_absolute_url }}" title="{{ action.action_object.content_object.action_object.user }}">{{ action.action_object.content_object.action_object.user }}</a>
                {% endif %}
            {% endspaceless %}
        {% else %}
            {% if action.action_object.content_object.bookmaker %}
                {# should be a ticket #}
                <a href="{{ action.action_object.content_object.get_absolute_url }}" title="{{ action.action_object.content_object }}">{% trans 'ticket' %} {{ action.action_object.content_object }}</a>
                {% trans 'of' %}
                <a href="{{ action.action_object.content_object.user.get_absolute_url }}" title="{{ action.action_object.content_object.user }}">{{ action.action_object.content_object.user }}</a>
            {% else %}
                <a href="{{ action.action_object.content_object.get_absolute_url }}" title="{{ action.action_object.content_object }}">{{ action.action_object.content_object }}</a>
            {% endif %}
        {% endif %}
{% endif %}
{% if action.verb == 'updated article' %}
        <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'updated article' %} <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{{ action.action_object }}</a>
{% endif %}
{% if action.verb == 'created article' %}
        <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'created article' %} <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{{ action.action_object }}</a>
{% endif %}
{% if action.verb == 'started following' %}
    {% if action.group|length > 1 %}
        {% if action.target == action.group.1.target %}
            {% if action.open %}
                {% for action in action.group %}{% if not forloop.first %}{% if forloop.last %} {% trans 'and' %}{% else %},{% endif %}{% endif %}
                    <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a>{% endfor %}
            {% endif %}
            {% if action.close %}
                {% trans 'all started following' %} <a href="{{ action.target.get_absolute_url }}" title="{{ action.target }}">{{ action.target }}</a>
            {% endif %}
        {% else %}
            {% if action.open %}
                <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'started following' %}
            {% endif %}
            {% if action.close %}
                {% for action in action.group %}{% if not forloop.first %}{% if forloop.last %} {% trans 'and' %}{% else %},{% endif %}{% endif %}
                    <a href="{{ action.target.get_absolute_url }}" title="{{ action.target }}">{{ action.target }}</a>{% endfor %}
            {% endif %}
        {% endif %}
    {% else %}
        <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'started following' %} <a href="{{ action.target.get_absolute_url }}" title="{{ action.target }}">{{ action.target }}</a>
    {% endif %}
{% endif %}
{% if action.verb == 'closed ticket' %}
    {% if action.action_object.bet_set.count > 1 %}
            <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> 
            {% trans 'published' %} 
            <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{% trans 'combined ticket' %}</a> 
            {% trans 'including' %} <div class="bet_list_link link">{{ action.action_object.bet_set.count }} {% trans 'matches' %}</div>
            <div class="bet_list">
                {% with request|get_bet_list_helper_for_activity:action.action_object.bet_set.all as bet_list_helper %}
                {{ bet_list_helper.render_bet_table }}
                {% endwith %}
            </div>
    {% else %}
            <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a>
            {% trans 'published' %} 
            <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{% trans 'simple ticket' %}</a>
            {% trans 'on match' %}
            <a href="{{ action.action_object.bet_set.all.0.session.get_absolute_url }}" title="{{ action.action_object.bet_set.all.0.session }}">{{ action.action_object.bet_set.all.0.session }}</a>
    {% endif %}
{% endif %}
{% if action.verb == 'corrected' or action.verb == 'flagged' %}
    {% if action.group|length > 1 %}
        {% if action.open %}
                <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a>
                {% if action.verb == 'corrected' %}{% trans 'corrected' %}{% endif %}
                {% if action.verb == 'flagged' %}{% trans 'flagged' %}{% endif %}
                <div class="bet_list_link link">{{ action.group|length }} {% trans 'bets' %}</div>
        {% endif %}
        {% if action.close %}
            <div class="bet_list">
                {% with request|get_bet_list_helper_for_activity:action.action_object_group as bet_list_helper %}
                {{ bet_list_helper.render_bet_table }}
                {% endwith %}
            </div>
        {% endif %}
    {% endif %}

    {% if action.group|length < 2 %}
            <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a>
            {% if action.verb == 'corrected' %}{% trans 'corrected' %}{% endif %}
            {% if action.verb == 'flagged' %}{% trans 'flagged' %}{% endif %}
            <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{{ action.action_object }}</a>
    {% endif %}
{% endif %}


{% if action.close %}
    {% include 'activity/_includes/action_close.html' %}
{% endif %}

{% comment %}
            [default activity template, it's here for debugging purposes only]
            {% if action.actor.get_absolute_url %}<a href="{{ action.actor.get_absolute_url }}">{{ action.actor }}</a>
            {% else %}<a href="{{ action.actor_url }}">{{ action.actor }}</a>{% endif %}
            {{ action.verb }}
            {% if action.target %}
                {% if action.target.get_absolute_url %}<a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
                {% else %}<a href="{{ action.target_url }}">{{ action.target }}</a>{% endif %}
            {% endif %}
            {{ request|timezone_adjust:action.timestamp|timesince }}
{% endcomment %}
