{% load avatar_tags i18n comments bet_tags %}
<div class="activity">
    <div class="avatar">
        <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">
            {% avatar action.actor %}
        </a>
    </div>
    <div class="details">
        {% if action.verb == 'closed ticket' %}
            {% if action.action_object.bet_set.count > 1 %}
                <p class="phrase">
                    <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> 
                    {% trans 'published' %} 
                    <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{% trans 'combined ticket' %}</a> 
                    {% trans 'including' %} {{ action.action_object.bet_set.count }} {% trans 'matches' %}
                </p>
            {% else %}
                <p class="phrase">
                    <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a>
                    {% trans 'published' %} 
                    <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{% trans 'simple ticket' %}</a>
                    {% trans 'on match' %}
                    <a href="{{ action.action_object.bet_set.all.0.session.get_absolute_url }}" title="{{ action.action_object.bet_set.all.0.session }}">{{ action.action_object.bet_set.all.0.session }}</a>
                </p>
            {% endif %}
        {% endif %}
        {% if action.verb == 'joined clan' %}
            <p class="phrase">
                <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'joined group' %} <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{{ action.action_object }}</a>
            </p>
        {% endif %}
        {% if action.verb == 'created clan' %}
            <p class="phrase">
                <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'created group' %} <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{{ action.action_object }}</a>
            </p>
        {% endif %}
        {% if action.verb == 'bets on' %}
            <p class="phrase">
                <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'bets on' %} <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{{ action.action_object }}</a>
            </p>
        {% endif %}
        {% if action.verb == 'commented' %}
            <p class="phrase">
                <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'commented' %} <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{{ action.action_object }}</a>
            </p>
        {% endif %}
        {% if action.verb == 'updated article' %}
            <p class="phrase">
                <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'updated article' %} <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{{ action.action_object }}</a>
            </p>
        {% endif %}
        {% if action.verb == 'created article' %}
            <p class="phrase">
                <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'created article' %} <a href="{{ action.action_object.get_absolute_url }}" title="{{ action.action_object }}">{{ action.action_object }}</a>
            </p>
        {% endif %}
        {% if action.verb == 'started following' %}
            <p class="phrase">
                <a href="{{ action.actor.get_absolute_url }}" title="{{ action.actor }}">{{ action.actor }}</a> {% trans 'started following' %} <a href="{{ action.target.get_absolute_url }}" title="{{ action.target }}">{{ action.target }}</a>
            </p>
        {% endif %}
    </div>

    <div class="bottom">
        <span class="date">
            {{ action.timestamp|timesince }} {% trans 'ago' %}
        </span>
        
        {% if action.verb != 'commented' %}
        {% get_comment_count for action as comment_count %}
        <span class="comments">
            {% trans 'comment' %} ({{ comment_count }})
        </span>
        {% endif %}
    </div>

    <div class="comments">
        {% render_comment_list for action %}
        <div class="comment_form_container">
        {% render_comment_form for action %}
        </div>
    </div>
</div>

{% comment %}
            [default activity template, it's here for debugging purposes only]
            {% if action.actor.get_absolute_url %}<a href="{{ action.actor.get_absolute_url }}">{{ action.actor }}</a>
            {% else %}<a href="{{ action.actor_url }}">{{ action.actor }}</a>{% endif %}
            {{ action.verb }}
            {% if action.target %}
                {% if action.target.get_absolute_url %}<a href="{{ action.target.get_absolute_url }}">{{ action.target }}</a>
                {% else %}<a href="{{ action.target_url }}">{{ action.target }}</a>{% endif %}
            {% endif %}
            {{ action.timestamp|timesince }} ago
{% endcomment %}
