{% extends 'site_base.html' %}

{% load scoobet_tags %}
{% load i18n %}

{% block subnav %}
<ul>
    {% if is_admin %}
    <li><a href="{% url bookmaker_edit bookmaker.pk %}">{% trans 'edit' %}</a></li>
    <li><a href="{% url bookmaker_list_bet_type bookmaker.pk %}">{% trans 'bet types' %}</a></li>
    <li><a href="{% url bookmaker_add_bet_type bookmaker.pk %}">{% trans 'add bet type' %}</a></li>
    {% endif %}

    <li><a href="{% url bookmaker_file bookmaker.pk %}">{% trans 'file' %}</a></li>
    <li><a href="{{ bookmaker.get_picks_absolute_url }}" title="{% trans 'picks' %}">{% trans 'picks' %}</a></li>
</ul>
{% endblock %}

{% block body %}
	<div class="image">
	</div>
	
	<div class="title">
		<h1>{{ bookmaker }}</h1>
	</div>
	
	<div class="fan">
    {% if bookmaker in request.user.bookmaker_set.all %}
        <a class="button" href="{% url gsm_fan_app 'unbecome' 'bookmaker' 'Bookmaker' bookmaker.pk %}">{% trans 'i do not bet on it' %}</a>
    {% else %}
        <a class="button" href="{% url gsm_fan_app 'become' 'bookmaker' 'Bookmaker' bookmaker.pk %}">{% trans 'i bet on it' %}</a>
    {% endif %}
	</div>

    {% render_popularity_for_object request bookmaker %}
{% endblock %}
