{% extends 'bookmaker/base.html' %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{{ bookmaker|capfirst }} - {% trans 'Bookmaker profile: Bonus, contact, informations' %}{% endblock %}

{% block meta %}
<meta name="Description" content="{% blocktrans %}Open an account on {{ bookmaker }} and claim you bonus to bet without any risk.{% endblocktrans %}" />
<meta name="keywords" content="{% trans 'betting' %}, {{ sport }} {% trans 'betting' %}, {{ sport }} {% trans 'free picks' %}, {{ sport }} {% trans 'picks' %}, {{ sport }} {% trans 'pick' %}, {{ sport }} {% trans 'predictions' %}, {{ sport }} {% trans 'prediction' %}" />
{% endblock %}


{% block body %}
    {{ block.super }}

    {% if bookmaker.logo %}
        <img src="{{ bookmaker.logo.url }}" style="float:left" />
    {% endif %}

    <table>
        <tr>
            <th>{% trans 'creation date' %}</th>
            <td>{{ bookmaker.creation_date }}</td>
            <th>{% trans 'website' %}</th>
            <td>{{ bookmaker.url }}</td>
        </tr>
        <tr>
            <th>{% trans 'sports count' %}</th>
            <td>{{ bookmaker.sports.count }}</td>
            <th>{% trans 'contact' %}</th>
            <td>{{ bookmaker.email }}</td>
        </tr>
        <tr>
            <th>{% trans 'address' %}</th>
            <td>{{ bookmaker.address|linebreaksbr }}</td>
            <th>{% trans 'live bets' %}</th>
            <td>{% if bookmaker.live_bets %}{% trans 'yes' %}{% else %}{% trans 'no' %}{% endif %}</td>
        </tr>
    </table>

    {% for bettypes_per_sport in bookmaker_bettypes_per_sport %}
    <div class="sport tree">
        <h3>{{ bettypes_per_sport.sport }}</h3>
        {% for bettype in bettypes_per_sport.bettypes %}
        <ul>
            <li>{{ bettype.name }}</li>
        </ul>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
