{% load avatar_tags i18n comments bet_tags ipdb gsm_tags %}
        </div>
		<div class="date">
            {{ request|timezone_adjust:action.timestamp }}
        </div>

        {% if action.verb != 'commented' %}
            {% if action.earliest_of_group %}
                {% get_comment_count for action.earliest_of_group as comment_count %}
                {% get_comment_list for action.earliest_of_group as comment_list %}
                {% get_comment_form for action.earliest_of_group as form %}
            {% else %}
                {% get_comment_count for action as comment_count %}
                {% get_comment_list for action as comment_list %}
                {% get_comment_form for action as form %}

            {% endif %}

            <div class="comments_link">
                {% trans 'comment' %} ({{ comment_count }})
            </div>

            <div class="comments">
                {% include 'comments/list.html' %}
                {% include 'comments/form.html' %}
            </div>

        {% endif %} 
	</div>
</div>


