{% comment %}
This template requires a "ranking_elements" context variable, which should be a list of ranking elements.

The template uses a "team" variable to highlight a particular team.
{% endcomment %}
{% load i18n gsm_tags %}
<div class="ranking">
    <table>
        <tr>
            <th></th>
            <th>{% trans 'club' %}</th>
            <th><acronym title="{% trans 'match played' %}">MP</acronym></th>
            <th><acronym title="{% trans 'wins' %}">W</acronym></th>
            <th><acronym title="{% trans 'draw' %}">D</acronym></th>
            <th><acronym title="{% trans 'lost' %}">L</acronym></th>
            <th><acronym title="{% trans 'goal difference' %}">GD</acronym></th>
            <th><acronym title="{% trans 'points' %}">P</acronym></th>
            {% if 'last5' in columns %}
            <th>{% trans 'last 5 matches' %}</th>
            {% endif %}
        </tr>
        {% for ranking in resultstable.getchildren %}
            {% gsm_entity tag='team' gsm_id=ranking.attrib.team_id key='ranked_team' %}
            <tr class="{% if ranking.attrib.team_id == team.gsm_id|addslashes %}current{% endif %}">
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{{ ranked_team.get_absolute_url }}" title="{{ ranking.attrib.club_name }}">{{ ranking.attrib.club_name }}</a>
                </td>
                <td>{{ ranking.attrib.matches_total }}</td>
                <td>{{ ranking.attrib.matches_won }}</td>
                <td>{{ ranking.attrib.matches_draw }}</td>
                <td>{{ ranking.attrib.matches_lost }}</td>
                <td>{{ ranking.attrib.goals_pro|sub:ranking.attrib.goals_against }}</td>
                <td>{{ ranking.attrib.points }}</td>
                {% if 'last5' in columns %}
                <td>
                    {% for data in ranked_team|five_sessions_series %}
                        <a href="{{ data.entity.get_absolute_url }}" title="{{ data.entity.oponnent_A_name }} vs {{ data.entity.oponnent_B_name }}">
                            {{ data.symbol }}
                        </a>
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    
    </table>
</div>
