{% extends 'gsm/_includes/sessions.html' %}
{% load i18n gsm_tags %}

{% block session_score %}
{% if session.status == 'Played' %}
<td class="score" colspan="3">
	<a href="{{ session.get_absolute_url }}" title="{{ session }}">
		<table>
			<tr>
				<td>{% if session.A1_score|is_int %}{{ session.A1_score }}{% endif %}</td>
				<td>{% if session.A2_score|is_int %}{{ session.A2_score }}{% endif %}</td>
				<td>{% if session.A3_score|is_int %}{{ session.A3_score }}{% endif %}</td>
				<td>{% if session.A4_score|is_int %}{{ session.A4_score }}{% endif %}</td>
				<td>{% if session.A5_score|is_int %}{{ session.A5_score }}{% endif %}</td>
			</tr>
			<tr>
				<td>{% if session.B1_score|is_int %}{{ session.B1_score }}{% endif %}</td>
				<td>{% if session.B2_score|is_int %}{{ session.B2_score }}{% endif %}</td>
				<td>{% if session.B3_score|is_int %}{{ session.B3_score }}{% endif %}</td>
				<td>{% if session.B4_score|is_int %}{{ session.B4_score }}{% endif %}</td>
				<td>{% if session.B5_score|is_int %}{{ session.B5_score }}{% endif %}</td>
			</tr>
		</table>
	</a>
</td>
{% else %}
	{{ block.super }}
{% endif %}
{% endblock %}
{% block session_oponnent_image_left %}{% endblock %}
{% block session_oponnent_image_right %}{% endblock %}