{% load i18n ifsetting_tag account_tags openid_tags %}
{% if user.is_authenticated %}
	<ul>
		<li>{% ifopenid %}<img src="{{ STATIC_URL }}images/openid-icon.png" alt="Logged in with OpenID" />{% endifopenid %}<b>{% user_display user %}</b></li>
	{% if user.is_staff %}
		<li><a href="/admin/">Admin</a></li>
	{% endif %}
        <li><a href="{% url acct_timezone_change %}">{% trans 'Account' %}</a></li>
	{% if user.bookmaker %}
		<li><a href="{% url bookmaker_edit user.bookmaker.pk %}">Bookmaker</a></li>
	{% endif %}
		<li><a href="{% if request.openid %}/openid/logout/?next={% url acct_logout %}{% else %}{% url acct_logout %}{% endif %}">Logout</a></li>
	</ul>
{% else %}
    <a href="{% url acct_login %}">Log in</a> or <a href="{% url acct_signup %}">Sign Up</a>
{% endif %}

<form method="post" action="{% url gsm_timezone_adjust %}">
    {% csrf_token %}
    <select name="timezone_offset" onchange="javascript: this.form.submit()">
        {% for timezone in available_timezones %}
        <option value="{{ timezone }}" {% if timezone == request.timezone.offset %}selected="selected"{% endif %}>
            {% if timezone == 0 %}
                GMT
            {% endif %}
            {% if timezone < 0 %}
                GMT{{ timezone }}
            {% endif %}
            {% if timezone > 0 %}
                GMT+{{ timezone }}
            {% endif %}
        </option>
        {% endfor %}
    </select>
</form>
