{%  load i18n %} 
{% load localeurl_tags %}  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>Betspire - Betspire, ce qui vous arrivera de mieux  depuis que vous pariez sur le sport !</title>
        <meta http-equiv="Content-type" value="text/html; charset=utf-8" />
        <meta name="title" content="Betspire - Betspire, ce qui vous arrivera de mieux  depuis que vous pariez sur le sport !" />
        <meta name="description" content="L'aventure Betspire va commencer prochainement et je suis l'un des premiers dans les starting-blocks ! Rejoins-moi ! #launch" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
        <style type="text/css" media="screen">
            html {
                background: #f2f2f2 url('{{ STATIC_URL }}img/background_temp.png') top left repeat-x;
            }
        </style>
        <script src="{% block jquery_src %}{{ STATIC_URL }}js/jquery-1.6.2.min.js{% endblock %}" type="text/javascript"></script>
    </head>
    <body class="log_gen">
        <div id="logo">
            <a href="/"></a>
        </div>
        <div id="body">
            <div class="fr_title">
                <h1>Bienvenue sur Betspire, votre réseau social de paris sportif</h1>
            </div>
            <p class="slogan">
                Actuellement, Betspire est en période de test. Les inscriptions publiques seront ouvertes très bientôt.
            </p>
            <div class="forms">
                <fieldset>
                    <legend>
                        Déjà inscrit?
                    </legend>
                    <p>
                        Si vous avez la chance d'avoir reçu une invitation, merci d'entrer vos identifiants ci-dessous:
                    </p>
                    <form method="post" url="{% url acct_login %}">
                        {% csrf_token %}
                        <input type="text" value="Nom d'utilisateur" id="username_fr"/><input type="text" value="Votre mot de passe" id="password_fr"/><input type="submit" value="ok" class="submit" />
                    </form>
                </fieldset>
            </div>
            <div class="forms last">
                <fieldset>
                    <legend>
                        Envie d'être invité?
                    </legend>
                    <p>
                        Si vous souhaitez recevoir une invitation, merci de renseigner votre adresse e-mail ci-dessous:
                    </p>
                    <form method="post" action="{% url beta_homepage %}">
                        {% csrf_token %}
                        <input type="mail" value="Adresse e-mail" id="email_fr" /><input type="submit" value="ok" class="submit" />
                    </form>
                </fieldset>
            </div><hr/>
            <div class="en_title">
                <h1>Welcome to Betspire, your betting network</h1>
            </div>
            <p class="slogan">
                Betspire is currently on a Beta version. Public registration will be available soon.
            </p>
            <div class="forms">
                <fieldset>
                    <legend>
                        Already invited?
                    </legend>
                    <p>
                        If you were lucky to get an invite, please enter your username and password below:
                    </p>
                    <form method="post" url="{% url acct_login %}">
                        {% csrf_token %}
                         <input type="text" value="Username" id="username_en"/><input type="text" value="Password" id="password_en" /><input type="submit" value="ok" class="submit" />
                    </form>
                </fieldset>
            </div>
            <div class="forms last">
                <fieldset>
                    <legend>
                        Want to be invited?
                    </legend>
                    <p>
                        If you wanted to receive an invite, please enter your e-mail address below:
                    </p>
                    <form method="post" action="{% url beta_homepage %}">
                        {% csrf_token %}
                        <input type="mail" value="E-mail address" id="password_en" /><input type="submit" value="ok" class="submit" />
                    </form>
                </fieldset>
            </div>
            <div class="clear">
                &nbsp;
            </div>
            <div id="footer" style="margin-top:50px; text-align: center; background-color: #F2F2F2; border-top: 1px solid #CCC">
                Copyright © 2011-2012 Betspire - <a href="{% url terms %}">Terms &amp; Conditions</a>
                - <a href="mailto:contact@betspire.com">Contact</a>
            </div>
        </div>
        <script type="text/javascript">
        var default_values = {};
        $('input[type=text]').each(function() {
            default_values[$(this).attr('id')] = $(this).val();
            $(this).click(function() {
                if ($(this).val() == default_values[$(this).attr('id')]) {
                    $(this).val('')
                }
            });
            $(this).blur(function() {
                if ($(this).val() == '') {
                    $(this).val(default_values[$(this).attr('id')]);
                }
            });
        });
        </script>
    </body>
</html>
