{% extends 'site_base.html' %}

{% block body %}
Toute l'équipe de Betspire est très heureuse de vous compter parmi ses premiers membres. Betspire vous offre un éventail très larges d'outils qui vous permettront de devenir un meilleur pronostiqueur. Voici un tour d'horizon des principales fonctionnalités de Betspire :

<h1>Existez en tant que parieur</h1>

<h3>Disposez d’un profil</h3>
Le fait d’être inscrit sur Betspire vous permet de disposer d’un profil de parieur et d’avoir accès à une multitude de fonctionnalités qui vous aideront grandement pour devenir un meilleur parieur de jour en jour.

<h3>Discutez avec vos amis parieurs</h3>
Commentez les statuts de vos amis, donnez votre avis sur leurs pronostics, débattez des rencontres à venir, donnez une information sur un match… Betspire vous donne la possibilité de prendre la parole et de faire connaître votre opinion à une population de parieurs de qualité.

<h3>Partagez vos pronostics</h3>
Betspire met à votre disposition un outil spécialement adapté à la publication de pronostic. En quelques secondes, vous pouvez partager un pronostic avec tous les membres de Betspire qui vous suivent !

<h3>Consultez vos performances</h3>
Chaque parieur dispose d’une page de statistique dans laquelle il peut suivre son évolution et identifier quels sont ses points forts et points faibles.

<h1>Tissez un réseau performant</h1>

<h3>Suivez les meilleurs</h3>
Un parieur pète la forme ? Vous trouvez un parieur qui a souvent du flair ? Un parieur est expert sur un championnat en particulier ? Vous n’êtes qu’à un clic de leurs pronostics ! Suivez les et vous verrez tous leurs futurs pronostics sur votre page d’accueil Betspire !

<h1>Entrez dans un monde de statistiques</h1>

<h3>Obtenez des données complètes</h3>
Sur Betspire, chaque Sport, chaque Compétition, chaque Equipe, chaque Joueur a son profil ! Sur chacune de ces entités, vous pouvez visualiser en un coup d’œil les données clés ainsi que les pronostics liés à celle-ci !

<h3>Suivez les scores en direct</h3>
Vous venez de placer vos pronostics, il est normal de vouloir en suivre l’évolution. Ne bougez pas, Betspire vous offre la possibilité de suivre l’évolution des scores de 6 sports majeurs et de plus de 150 compétitions ! 
{% endblock %}
