{% load i18n %}
{% load localeurl_tags %}
{% load comments %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block head_title_base %}{% block head_title %}{% endblock %} - {% trans "Don't loose your bets, thank Scoobet" %}!{% endblock %}</title>
        {% block meta %}
        {% endblock %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/tabs.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/facebox.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/announcements.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/accounts.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.13.custom.css" />
        {% if LANGUAGE_BIDI %}
        <style type="text/css" media="screen">
            div.right_panel {
                float: left; /* hotfix for sidebar */
            }
        </style>
        {% endif %}
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
        <style type="text/css">
.yourlabs_autocomplete.outer_container {
    background-color: white;
}
.yourlabs_autocomplete .option.active {
    background-color: gray;
}

div.left_bet {
    float: left;
    width: 45%;
    padding-right: 8px;
}
div.right_bet {
    margin-left: 55%;
}
.popularity .popularity_block {
    display: inline-block;
}
div.bet div.top div.head, div.bet div.top div.username {
    float: left;
    width: 30%;
    padding-left: 8px;
}
.winner, .draw {
    background-color: grey;
}
td.score.left, td.score.right {
    text-align: center;
    width: 32px;
}
tr.win td.score {
    background-color: green;
}
tr.lost td.score {
    background-color: red;
}
tr.draw td.score {
    background-color: orange;
}
tr.Fixture td.score {
    background-color: grey;
}
tr.Fixture td.score.left {
    text-align: right;
}
tr.Fixture td.score.right {
    text-align: left;
}
#global_form .results_on_deck { display: none; }
div.tree ul, .tab_content { display: none; }
table.bettype table.choices td,
table.bettype table.choices tr,
table.bettype table.choices {
    border-collapse: collapse;
    border: 1px solid black;
}
#ajaxload {
    cursor: pointer;
    left: 45%;
    position: fixed;
    top: 12px;
	display:none;
}
ul#messages {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
div.activity div.comments {
    display: none;
}
body.activity.detail div.activity div.comments {
    display: block;
}
.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
        </style>
        <style type="text/css">
        {% block extra_css %}
        {% endblock %}
        </style>
        
        <script src="{% block jquery_src %}{{ STATIC_URL }}js/jquery-1.6.2.min.js{% endblock %}" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui-1.8.13.custom.min.js" type="text/javascript"></script>
    </head>
    
    <body class="{% block body_class %}{% endblock %}">

		<div id="logo">
			<a href="/"></a>
		</div>

		<div id="search">
			<form class="search" method="get" action="/search/">
				<input id="id_search_words" name="search_words" class="search_input" type="text" />
				<input class="search_submit" id="search_submit_1" type="submit" value="go" />
			</form>
		</div>

		<div id="locale">
			{% block locale_switcher %}
			<ul>
			 {% for lang in LANGUAGES %}
				{% ifequal lang.0 LANGUAGE_CODE %}
					<li class="selected">{{ lang.1 }}</li>
				{% else %}
					<li><a href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a></li>
				{% endifequal %}
			{% endfor %}
			</ul>
			{% endblock %}
		</div>

		<div id="account">
			{% block login %}{% include "_account_bar.html" %}{% endblock %}
		</div>

		<div id="navigation">
			{% if request.user.is_authenticated %}
			<ul>
				<li>
					<a href="{% url user_detail request.user.username %}">{{ request.user.username }}</a>
					<ul>
						<li><a href="{% url user_detail_tab request.user.username 'activities' %}">{% trans 'activities'|capfirst %}</a></li>
						<li><a href="{% url user_detail_tab request.user.username 'stats' %}">{% trans 'stats'|capfirst %}</a></li>
						<li><a href="{% url bet_list %}">{% trans 'bets'|capfirst %}</a></li>
						<li><a href="{% url bet_list_to_correct %}">{% trans 'bets to correct'|capfirst %}</a></li>
						{% if request.user.betprofile.is_referee %}
						<li><a href="{% url bet_list_flagged %}">{% trans 'flagged bets' %}</a></li>
						{% endif %}
					</ul>
				</li>
			</ul>
			<ul>
				<li>
					<a href="{% url user_detail_tab request.user.username 'social' %}">{% trans 'social' %}</a>
					<ul>
						<li><a href="{% url user_detail_tab request.user.username 'activities' %}">{% trans 'activities'|capfirst %}</a></li>
						<li><a href="{% url bet_list %}">{% trans 'bets'|capfirst %}</a></li>
					</ul>
				</li>
				<li>
					<a href="{% url clan_list %}">{% trans 'clans' %}</a>
					<ul>
						<li><a href="{% url bet_list %}">{% trans 'bets'|capfirst %}</a></li>
					</ul>
				</li>
				<li><a href="{% url article_list %}">{% trans 'articles' %}</a></li>
			</ul>
			{% endif %}
			<ul>
				<li class="{% if sport.slug == 'soccer' %}active{% endif %}">
					<a href="{% url gsm_sport_detail 'soccer' %}">{% trans "soccer" %}</a>
					<ul>
						<li><a href="{% url gsm_sport_detail 'soccer' %}">{% trans "ligue 1"|capfirst %}</a>
						<li><a href="{% url gsm_sport_detail 'soccer' %}">{% trans "ligue 2"|capfirst %}</a>
						<li><a href="{% url gsm_sport_detail_tab 'soccer' 'competitions' %}">{% trans "all competitions"|capfirst %}</a>
					</ul>
				</li>
				<li class="{% if sport.slug == 'tennis' %}active{% endif %}">
					<a href="{% url gsm_sport_detail 'tennis' %}">{% trans "tennis" %}</a>
				</li>
				<li class="{% if sport.slug == 'rugby' %}active{% endif %}">
					<a href="{% url gsm_sport_detail 'rugby' %}">{% trans "rugby" %}</a>
				</li>
				<li class="{% if sport.slug == 'basketball' %}active{% endif %}">
					<a href="{% url gsm_sport_detail 'basketball' %}">{% trans "basketball" %}</a>
				</li>
			</ul>
		</div>

		<div id="aside">
			{% block aside %}{% endblock %}
		</div>

        <div id="ajaxload">
            <img src="{{ STATIC_URL }}img/ajax-loader.gif" />
        </div>

        {% if site_wide_announcements %}
            <div id="site_wide_announcements">
                <ul>
                    {% for announcement in site_wide_announcements %}
                    <li>
                        <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
                        <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

		{% comment %}
        <div id="tabhead">
            <div class="logo" dir="ltr">
                {% for lang in LANGUAGES %}
                    {% ifequal lang.0 LANGUAGE_CODE %}
                        <li class="selected">{{ lang.1 }}</li>
                    {% else %}
                        <li><a href="{{ request.path|chlocale:lang.0 }}">{{ lang.1 }}</a></li>
                    {% endifequal %}
                {% endfor %}
            </div>
            <div class="login">{% block login %}{% include "_account_bar.html" %}{% endblock %}{% block locale_switcher %}{% endblock %}<div style="text-align: right;"></div></div>
            <div id="right_tabs" >{% block right_tabs %}
                <ul class="tabs">
                    <li>
                        <a href="{% url gsm_sport_detail 'soccer' %}">{% trans "soccer" %}</a>
                    </li>
                    <li>
                        <a href="{% url gsm_sport_detail 'tennis' %}">{% trans "tennis" %}</a>
                    </li>
                    <li>
                        <a href="{% url gsm_sport_detail 'rugby' %}">{% trans "rugby" %}</a>
                    </li>
                    <li>
                        <a href="{% url gsm_sport_detail 'basketball' %}">{% trans "basketball" %}</a>
                    </li>
                    <li>
                        <a href="{% url clan_list %}">{% trans 'clans' %}</a>
                    </li>
                    <li>
                        <a href="{% url article_list %}">{% trans 'articles' %}</a>
                    </li>
                    <li>
                        <a href="{% url bet_list %}">{% trans 'bets' %}</a>
                    </li>
                    <li>
                        <a href="{% url bet_list_to_correct %}">{% trans 'bets to correct' %}</a>
                    </li>
                    {% if request.user.is_authenticated and request.user.betprofile.is_referee %}
                    <li>
                        <a href="{% url bet_list_flagged %}">{% trans 'flagged bets' %}</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url user_detail request.user.username %}">{% trans 'my profile' %}</a>
                    </li>
                    {% endif %}
                </ul>
            {% endblock %}</div>
        </div>
        <div id="subnav" class="clearfix">{% block subnav_base %}<div class="clearfix">{% block subnav %}&nbsp;{% endblock %}</div>{% endblock %}</div>
        {% endcomment %}
        <ul id="messages">
            {% if messages %}
                {% for message in messages %}
                <li id="message_{{ forloop.counter }}"{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <a href="#"><small>{% trans "clear" %}</small></a>
                    {{ message }}
                </li>
                {% endfor %}
            {% endif %}
        </ul>
        

        {% block body_outer %}
        <div id="body">
			{% if user.is_authenticated %}
			<div id="publication">
				<div id="publication_head">
					<span>{% trans 'publication:' %}</span>
					<ul>
						<li class="publication_ticket"><a href="{% url bet_ticket_add %}">{% trans 'ticket'|capfirst %}</a></li>
						<li class="publication_status"><a href="{% url scoobet_status_add %}">{% trans 'status'|capfirst %}</a></li>
					</ul>
				</div>
                <div id="global_form">
                    {% if incomplete_ticket_url %}
                    <p class="info delete on_ticket_close">{% trans 'You have an openned ticket. It will open automatically here. Please finish it and/or close it.' %}</p>
                    {% endif %}
                </div>
			</div>
			{% endif %}
		
			<div id="body_head">
            {% block body_head %}
            {% endblock %}
			</div>

			<div class="clear">&nbsp;</div>

			<div id="navigation_sub">{% block subnav %}{% endblock %}</div>

			<div class="clear">&nbsp;</div>

			<div id="body_content">
            {% block body %}
                {% block content %}
                {% endblock %}
            {% endblock %}
			</div>            
        </div>
        {% endblock %}
        
        {% csrf_token %}

        <div id="footer">{% block footer %}{% endblock %}</div>
        
        <script src="{{ STATIC_URL }}pinax/js/base.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/jquery.form.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}yourlabs/autocomplete/jquery-implementation.js" type="text/javascript"></script>
        {% include "facebox_js.html" %}
        <script type="text/javascript">
        $(document).bind('yourlabs_autocomplete.selectOption', function(e, autocomplete, option) {
            autocomplete.hide();
            autocomplete.el.val('{% trans 'loading page' %}: ' + $.trim(option.text()));
            link = $(option).find('a:first');
            if (link.length && link.attr('href') != undefined) {
                window.location.href = link.attr('href');
                return false;
            } else {
                alert('sorry, i dunno what to do with your selection!!');
            }
        });
        $('input.search_input[name=search_words]').yourlabs_autocomplete({
            url: '{% url scoobet_autocomplete %}',
            defaultValue: "{% trans 'Search : a match, a player, a team, a competition / a friend, a clan...' %}",
        });

        $.ajaxSetup({
            beforeSend: function(req) {},
            error: function(req, textStatus, error) {
                if (textStatus == 'error') {
                    add_message('{% trans 'Sorry, our program failed to process your request. Our techie has been notified by email and will take care of it soonish' %}');
                }
            },
        });

        $('#ajaxload').ajaxStop(function() {
            $(this).hide();
        });
        $('#ajaxload').ajaxStart(function() {
            $(this).show();
        });

        function add_message(message) {
            var li = $('<li class="success">'+message+'<a href="#"><small>{% trans 'clear' %}</small></a></li>');
            li.attr('style', 'display:none');
            $('ul#messages').append(li);
            li.slideDown();
            window.setTimeout(function() {
                li.slideUp();
            }, 3000);
        }

        function update_select(select, data) {
            select.find('option').remove();
            select.append($('<option value="">-------</option>'));
            for (var i in data) {
                select.append($('<option value="'+data[i][0]+'">'+data[i][1]+'</option>'));
            }
        }

        function load_global_ticket_html(html) {

            function do_load_global_ticket_html(html) {
                var session_text = container.find('input[name=session_text]');
                var session = container.find('div.session div.results_on_deck div');
                var session_display = session.html()
                if (session && session_text && session_display) {
                    session_display = session_display.replace('<span class="iconic" id="kill_id_session">X</span>', '');
                    session_display = $.trim(session_display);
                    session_text.val(session_display);
                }

                container.slideDown();
            }


            var container = $('div#global_form');
            if (container.css('display') != 'none') {
                container.slideUp('fast', function() {
                    container.html(html);
                    do_load_global_ticket_html(html);
                });
            } else {
                container.html(html);
                do_load_global_ticket_html(html);
            }
        }
        function load_global_ticket_url(url) {
            var container = $('div#global_form');
            container.slideUp();
            $.get(url, {}, function(data, textStatus, jqXHR) {
                load_global_ticket_html(data);
            });
        }


        $(document).ready(function() {
            $('.tab_link').live('click', function(e) {
                var tabid = $(this).attr('class').match(/tab_id_([a-z]*)/)[1];
                var group = $(this).attr('class').match(/tab_group_([a-z]*)/);
                if (group && group.length) {
                    var tabgroup = group[1];
                    $('.tab_content.tab_group_'+tabgroup).hide().removeClass('selected');
                    $('.tab_content.tab_id_'+tabid+'.tab_group_'+tabgroup).show().addClass('selected');
                } else {
                    $('.tab_content').hide().removeClass('selected');
                    $('.tab_content.tab_id_'+tabid).show().addClass('selected');
                }
            });
            $('.tab_link:first').click();

            $('input[name=max_date]').datepicker({ dateFormat: 'yy-mm-dd', });
            $('input[name=min_date]').datepicker({ dateFormat: 'yy-mm-dd', });
            $('input[name=odds]').live('blur', function() {
                $(this).val($(this).val().replace(',', '.'));
            });

            $('div.tree').click(function(e) {
                if ($(this).find('ul:visible').length) {
                    return true;
                }
                if ($('div.tree ul:visible').length) {
                    $('div.tree ul').slideUp('fast');
                }
                $(this).find('ul').slideDown();
            });
            
            $('form[action="{% comment_form_target %}"]').live('submit',function(e) {
                var container;
                
                container = $(this).parents('div.comment_form_container')
                if (!container) {
                    return true;
                }

                e.preventDefault();

                $(this).ajaxSubmit({
                    'success': function(data, textStatus, jqXHR) {
                        container.html(data);
                    },
                    'dataType': 'html',
                });
            });

            $('a').live('click', function(e) {
                if ($(this).attr('href') == undefined || $(this).attr('href') == '#' || !$(this).attr('href')) {
                    return false;
                }
                if ($(this).attr('href') == '{% url bet_ticket_add %}' || $(this).attr('href').match('{% url bet_form '[0-9]+' %}') != null) {
                    e.preventDefault();
                    load_global_ticket_url($(this).attr('href'));
                }
                else if ($(this).attr('href') == '{% url scoobet_status_add %}') {
                    e.preventDefault();
                    var container = $('div#global_form');
                    container.slideUp();
                    $.get('{% url scoobet_status_add %}', {}, function(data, textStatus, jqXHR) {
                        container.html(data);
                        container.slideDown();
                    });
                }

                return true;
            });

            $('#global_form input[name=action]').live('click', function(e) {
                $(this).parents('form').trigger('submit');
            });

            $('input[type=submit].confirm').live('click', function(e) {
                return confirm('{% trans 'Do you want to' %} ' + $(this).attr('title') + ' ?');
            });

            /*
            bettype select:
            - empty choices
            - update choices select
            - show choices
            */
            $('#global_form select[name=bettype]').live('change', function(e) {
                if ($(this).val() == null) {
                    $('#global_form div.choice').fadeOut();
                    return false;
                }
                $.get(
                    '{% url bookmaker_choices_for_bettype %}',
                    {
                        'bettype': $('#global_form select[name=bettype]').val(),
                    },
                    function(data, textStatus, jqXHR) {
                        update_select($('#global_form select[name=choice]'), data);
                        $('#global_form div.choice').fadeIn();
                    },
                    'json'
                );
            });

            $('#global_form select[name=stake], #global_form select[name=bookmaker]').live('change', function(e) {
                if ($('#global_form select[name=stake]').val() && $('#global_form select[name=bookmaker]').val()) {
                    $(this).parents('form').trigger('submit');
                }
            });

            $('#global_form form').live('submit', function(e) {
                e.preventDefault();

                $(this).ajaxSubmit({
                    'success': function(data, textStatus, jqXHR) {
                        load_global_ticket_html(data);
                    },
                    'dataType': 'html'
                });
            });

            {% if incomplete_ticket_url %}
            load_global_ticket_url('{{ incomplete_ticket_url }}');
            {% endif %}

            $('div.activity div.bottom span.comments').click(function(e) {
                $(this).parent().next().toggle('fast');
            });

            // initializes links for ajax requests
            $("a.endless_more").live("click", function() {
                var container = $(this).closest(".endless_container");
                var loading = container.find(".endless_loading");
                $(this).hide();
                loading.show();
                var data = "querystring_key=" + $(this).attr("rel").split(" ")[0];
                $.get($(this).attr("href"), data, function(data) {
                    container.before(data);
                    container.remove();
                });
                return false;
            });
            $("a.endless_page_link").live("click", function() {
                var data = "querystring_key=" + $(this).attr("rel").split(" ")[0];
                $(this).closest(".endless_page_template").load($(this).attr("href"), data);
                return false;
            }); 
            $(window).scroll(function(){
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    $("a.endless_more").click();
                }  
            });

            $('td.correct a').click(function(e) {
                e.preventDefault();
                var link = $(this);
                $.post(
                    $(this).attr('href'), {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    }, function(data, textStatus, jqXHR) {
                        link.parent().slideUp('fast', function() {
                            if (link.hasClass('flag')) {
                                link.parents('tr').find('td.flag div').slideDown();
                            } else {
                                link.parents('td').find('div.flag').slideDown();
                            }
                        });
                        if (link.hasClass('lost')) {
                            link.parents('tr').find('td.result div.lost').show('fast');
                        }
                        if (link.hasClass('canceled')) {
                            link.parents('tr').find('td.result div.canceled').show('fast');
                        }
                        if (link.hasClass('won')) {
                            link.parents('tr').find('td.result div.won').show('fast');
                        }
                        if (link.hasClass('flag')) {
                            link.parents('tr').find('td.flag div').show('fast');
                        }
                    }
                );
            });

            $('.toggle_bet_list').live('click', function() {
                $(this).parents('div.details').find('div.bet_list').toggle('fast');
            });

            $('select[name=ticket__bookmaker]').live('change', function() {
                var sport_pk, bookmaker_pk, bettype;
                try {
                    sport_pk = $(this).parents('form').find('div.force_sport').html();
                } catch(e) {
                    alert('could not figure sport');
                }

                bookmaker_pk = $(this).val();
                bettype = $(this).parents('form').find('select[name=bettype]');

                if (sport_pk) {
                    $.get(
                        '{% url bookmaker_bet_types_json %}',
                        {
                            'sport': sport_pk, 
                            'bookmaker': bookmaker_pk,
                        },
                        function(data, textStatus, jqXHR) {
                            update_select(bettype, data);
                        },
                        'json'
                    );
                } else if (sport_pk) {
                }
            });

			$('table').each(function(index){ $(this).find('tr:odd').addClass('odd'); });
			$('table').each(function(index){ $(this).find('tr:even').addClass('even'); });
        });
        </script>
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
