{% extends 'site_base.html' %}

{% block body %}
<h3>Mentions légales</h3>

<p>
Le site web www.betspire.com et les services présents sur ces pages vous sont proposés par : 
</p>

<pre>
BETSPIRE SAS
4, rue Cambon
75001 Paris
</pre>

<p>
BETSPIRE, société par actions simplifiées au capital de 4 000 euros est immatriculée au R.C.S de Paris sous le numéro 533 567 434.
</p>

<p>
BETSPIRE est enregistrée à la C.N.I.L. sous le n° 1522922.
</p>


<h3>Hébergement</h3>

<p>Betspire.com est hébergé par la société OVH</p>
<pre>
OVH 2 rue kellermann BP 80157 59053 ROUBAIX CEDEX 1
RCS Roubaix-Tourcoing 424 761 419 00045 - Code APE 6202A
</pre>
<p>
Le présent site est hébergé par la société OVH. 
</p>

<p>Il est interdit de publier, reproduire, ou rediffuser de quelques manière que ce soit tout ou partie du contenu du site Internet Betspire, qu’il soit sous forme de rédactionnel, de graphique ou d’image, sans l’autorisation expresse de la société Betspire.
</p>


<h3>Copyright</h3>

<p>Copyright © 2011-2012 Betspire - Tous droits réservés. </p>

Betspire est une marque déposée de la société Betspire. Les noms des éditeurs, des médias, des services et plus généralement des sociétés ou produits mentionnés sont les marques de leurs propriétaires respectifs. Tous les droits qui ne sont pas expressément concédés sont réservés par Betspire.
{% endblock %}
