{% extends 'site_base.html' %}

{% block body %}
<h3>Mentions légales</h3>

<p>
Le site web www.betspire.com et les services présents sur ces pages vous sont proposés par : 
</p>

<pre>
BETSPIRE SAS
4, rue Cambon
75001 Paris
</pre>

<p>
BETSPIRE, société par actions simplifiées au capital de 4 000 euros est immatriculée au R.C.S de Paris sous le numéro 533 567 434.
</p>

<p>
BETSPIRE est enregistrée à la C.N.I.L. sous le n° 1522922.
</p>


<h3>Hébergement</h3>

<p>Betspire.com est hébergé par la société OVH</p>
<pre>
OVH 2 rue kellermann BP 80157 59053 ROUBAIX CEDEX 1
RCS Roubaix-Tourcoing 424 761 419 00045 - Code APE 6202A
</pre>
<p>
Le présent site est hébergé par la société OVH. 
</p>

<p>Il est interdit de publier, reproduire, ou rediffuser de quelques manière que ce soit tout ou partie du contenu du site Internet Betspire, qu’il soit sous forme de rédactionnel, de graphique ou d’image, sans l’autorisation expresse de la société Betspire.
</p>


<h3>Copyright</h3>

<p>Copyright © 2011-2012 Betspire - Tous droits réservés. </p>

Betspire est une marque déposée de la société Betspire. Les noms des éditeurs, des médias, des services et plus généralement des sociétés ou produits mentionnés sont les marques de leurs propriétaires respectifs. Tous les droits qui ne sont pas expressément concédés sont réservés par Betspire.

<h3>Modalités d'accès et d'inscription au site</h3>

<p>Pour effectuer des publications et participer aux échanges, vous devez être inscrit à Betspire.com.</p>
<p>
L’inscription consiste à vous choisir un identifiant, un mot de passe et à nous fournir une adresse de courrier électronique valide. 
</p>
<p>
Betspire.com se réserve le droit de refuser une inscription, sur la base d’un pseudonyme contraire à la législation française, aux bonnes mœurs ou aux règles élémentaires de politesse. Un autre motif de refus peut-être une tentative de réinscription d’une personne, suite à son bannissement du site sous son précédent identifiant usuel.  
</p>
<p> 
En vous inscrivant sur Betspire vous reconnaissez être responsable de vos agissements relatifs à la consultation de ce site. 
</p>
<p>
Il est de la responsabilité de l'internaute de connaitre la législation de son propre pays sur les paris sportifs et les jeux de hasard.
</p>
<p>
En vous inscrivant sur Betspire vous reconnaissez également que toutes les informations sur ce site n'incitent pas à placer des paris.
</p>

<p>
Betspire ne prend pas la responsabilité des pertes subies par n'importe quel utilisateur de nos services sur le site. Toutes les informations publiées sur le site par d'autres sites web, personnes ou organisations devra être vérifiées pour leurs exactitudes. Nous ne pouvons garantir l'exactitude des résultats présents sur le site. Les pronostics donnés sur ce site ne sont en aucun certains, ils sont donnés à titre informatif seulement.
</p>

<h3>Règles de savoir-vivre à respecter</h3>

<p>Vous êtes responsable du contenu de vos messages. Nous vous rappelons que les messages que vous postez peuvent être lus par tous librement. Les règles suivantes s’appliquent au texte du message mais également aux images et aux liens hypertextes que vous insérez.  
</p>

<p>
Vos contributions doivent respecter les bonnes mœurs et les règles élémentaires de politesse. A savoir : 
</p>
<p>
- Vous devez rester courtois entre vous, faire preuve de respect envers les autres participants, que ce soit sur le fond comme sur la forme de vos messages. 
</p>
<p>
- Aucun propos injurieux, raciste, violent, pornographique ou diffamatoire ne sera toléré. 
</p>
- Tout propos ou diffamation entravant l'image de Betspire sera sanctionné.
<p>
De plus, concernant la publications de tickets sur le site :
</p>
<p>
- Il est interdit de publier plusieurs fois le même ticket.
</p>
<p>
- Toute tentative de triche (modification de cote par rapport à celle présente sur les sites de jeux en ligne pour un même évènement) sera punie. 
</p>
<p>
Les messages et/ou tickets que vous publiez peuvent être modérés s'ils n'étaient pas conformes à la présente charte. Betspire est modéré à posteriori, c’est-à-dire après la publication des messages.  
</p>
<p>
L'équipe du site Betspire.com se réserve le droit d'avertir un utilisateur du site dans le cas où celui-ci ne respecte pas la présente chartre. Toute récidive entraînera l'exclusion de l'utilisateur du site.
</p>
<p>
Cependant, si un cas est jugé extrême par l'équipe du site Betspire.com, le comportement de l'utilisateur en question pourra conduire à un bannissement sans avertissement.
</p>

{% endblock %}