{% extends 'gsm/base.html' %}

{% load i18n %}
{% load gsm_tags %}
{% load scoobet_tags %}

{% block subnav %}
<ul>
    <li class="home tab {% if tab == 'home' %}active{% endif %}">
        <a href="{{ person.get_home_absolute_url }}" title="{{ person.name }}">{% trans 'file' %}</a>
    </li>
	{% comment %}
    <li class="news tab {% if tab == 'news' %}active{% endif %}">
        <a href="{{ person.get_news_absolute_url }}" title="{{ person.name }}">{% trans 'news' %}</a>
    </li>
	{% endcomment %}
    {% if sport.slug == 'tennis' %}
    <li class="matches tab {% if tab == 'matches' %}active{% endif %}">
        <a href="{{ person.get_matches_absolute_url }}" title="{{ person.name }}">{% trans 'matches' %}</a>
    </li>
    {% endif %}
    <li class="picks tab {% if tab == 'picks' %}active{% endif %}">
        <a href="{{ person.get_picks_absolute_url }}" title="{{ person.name }}">{% trans 'picks' %}</a>
    </li>
</ul>
{% endblock %}

{% block body_head %}
	<div class="image">
		<img src="http://imagecache.soccerway.com/players/150x150/{{ person.gsm_id }}.jpg" />
	</div>
	
	<div class="title">
		<h1>{{ person }}</h1>
	</div>
	
	<div class="fan">
    {% if person in request.user.gsmentity_set.all %}
        <a class="button" href="{% url gsm_fan 'unbecome' 'GsmEntity' person.pk %}">{% trans 'i do not bet on him' %}</a>
    {% else %}
        <a class="button" href="{% url gsm_fan 'become' 'GsmEntity' person.pk %}">{% trans 'i bet on him' %}</a>
    {% endif %}
	</div>

    {% render_popularity_for_object request person %}
{% endblock %}
