{% extends 'gsm/base.html' %}

{% load i18n %}
{% load gsm_tags %}

{% block body %}
<h1>{{ person }}</h1>
{% endblock %}

{% block subnav %}
<ul>
    <li class="home tab {% if tab == 'home' %}active{% endif %}">
        <a href="{{ person.get_home_absolute_url }}" title="{{ person.name }}">{% trans 'file' %}</a>
    </li>
    <li class="news tab {% if tab == 'news' %}active{% endif %}">
        <a href="{{ person.get_news_absolute_url }}" title="{{ person.name }}">{% trans 'news' %}</a>
    </li>
    {% if sport.slug == 'tennis' %}
    <li class="matches tab {% if tab == 'matches' %}active{% endif %}">
        <a href="{{ person.get_matches_absolute_url }}" title="{{ person.name }}">{% trans 'matches' %}</a>
    </li>
    {% endif %}
    <li class="prognostics tab {% if tab == 'prognostics' %}active{% endif %}">
        <a href="{{ person.get_prognostics_absolute_url }}" title="{{ person.name }}">{% trans 'prognostics' %}</a>
    </li>
</ul>
{% endblock %}


