{% extends 'auth/user_base.html' %}
{% load i18n scoobet_tags %}

{% block head_title %}{{ object|capfirst }} - {% trans "Tipster's network" %}{% endblock %}

{% block meta %}
<meta name="Description" content="{% blocktrans %}{{ object }} is on Betspire and already has a great network of sports tipsters! Like {{ object }}, make your own tipster network and improve your betting earnings.{% endblocktrans %}" />
<meta name="keywords" content="{% trans 'betting' %}, {{ sport }} {% trans 'betting' %}, {{ sport }} {% trans 'free picks' %}, {{ sport }} {% trans 'picks' %}, {{ sport }} {% trans 'pick' %}, {{ sport }} {% trans 'predictions' %}, {{ sport }} {% trans 'prediction' %}" />
{% endblock %}



{% block extra_css %}
div.follower {
position: relative;
top: 0;
left: 0;
width: 300px;
display: inline-block;
}
div.following {
position: relative;
top: 0;
right: 0;
width: 300px;
display: inline-block;
}
div.follower, div.following {
vertical-align: top;
}
{% endblock %}
{% block body %}
{{ block.super }}

<div class="tabs">
    <ul>
        <li class="tab_link tab_id_current">
            {% trans 'following' %}
        </li>
        <li class="tab_link tab_id_statistics">
            {% trans 'follows' %}
        </li>
    </ul>
</div>
<div class="squad tab_content tab_id_current">
    {% render_user_list request following_list %}
	<div class="clear"></div>
	</div>
<div class="squad tab_content tab_id_statistics">
    {% render_user_list request follower_list %}
	<div class="clear"></div>
</div>
{% endblock %}