{% extends 'auth/user_base.html' %}

{% load avatar_tags %}
{% load comments %}
{% load i18n %}
{% load activity_tags %}

{% block head_title %}{{ object|capfirst }} - {% trans 'Tipster profile : stats, picks and activities' %}{% endblock %}

{% block meta %}
<meta name="Description" content="{% blocktrans %}Sign up for Betspire to start following {{ object }} to see all sports picks and predictions from this tipster!{% endblocktrans %}" />
<meta name="keywords" content="{% trans 'betting' %}, {{ sport }} {% trans 'betting' %}, {{ sport }} {% trans 'free picks' %}, {{ sport }} {% trans 'picks' %}, {{ sport }} {% trans 'pick' %}, {{ sport }} {% trans 'predictions' %}, {{ sport }} {% trans 'prediction' %}" />
{% endblock %}


{% block body %}
    {{ block.super }}

    {% if request.user.is_authenticated and request.user != object %}
        {% get_comment_form for object as comment_form %}
        <div class="comment_form_container">
            <form action="{% comment_form_target %}" method="post">
                {% csrf_token %}
				{% avatar request.user 60 %}
                {{ comment_form.comment }}
                {% for field in comment_form %}
                    {% if field.is_hidden %}{{ field }}{% endif %}
                {% endfor %}
                <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
            </form>
        </div>
    {% endif %}


    {% get_user_contenttype as user_ctype %}
	{% comment %}
    <a href="{% url actstream_object_feed content_type_id=user_ctype.id  object_id=object.id %}">RSS</a>
    <a href="{% url actstream_object_feed_atom content_type_id=user_ctype.id  object_id=object.id %}">ATOM</a>
	{% endcomment %}
    {% include page_template %}

{% endblock %}

{% block extra_body %}
<script>
$(function () {
    $(".follow_button, .unfollow_button").click(function () {
        $.post(
            $(this).attr("href"), 
            {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            }
        );
        $(this).parent().find(".follow_button, .unfollow_button").toggle();
        return false;
    });
});
</script>
{% endblock %}

{% block title %}{% ifequal request.user object %}Your feed{% else %}{{ object }}{% endifequal %}{% endblock %}
{% block content_title %}{% ifequal request.user object %}Your feed{% else %}{{ object }}{% endifequal %}{% endblock %}
