{% extends 'auth/user_base.html' %}
{% load i18n scoobet_tags %}

{% block extra_css %}
div.follower {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    display: inline-block;
}
div.following {
    position: relative;
    top: 0;
    right: 0;
    width: 300px;
    display: inline-block;
}
div.follower, div.following {
    vertical-align: top;
}
{% endblock %}

{% block body %}
    {{ block.super }}

    <h2>{% trans 'following' %}</h2>
    {% render_user_list request following_list %}
    <h2>{% trans 'follows' %}</h2>
    {% render_user_list request follower_list %}
{% endblock %}
