{% extends 'site_base.html' %}

{% load comments %}
{% load scoobet_tags %}
{% load i18n %}
{% load avatar_tags %}

{% block subnav %}
<ul>
    <li class="{% if tab == 'activities' %}active{% endif %}">
        <a href="{% url user_detail_tab object.username 'activities' %}" title="{% trans 'activities of' %} {{ object }}">{% trans 'activities' %}</a>
    </li>
    <li class="{% if tab == 'social' %}active{% endif %}">
        <a href="{% url user_detail_tab object.username 'social' %}" title="{% trans 'relations with' %} {{ object }}">{% trans 'social' %}</a>
    </li>
    <li class="{% if tab == 'file' %}active{% endif %}">
        <a href="{% url user_detail_tab object.username 'file' %}" title="{% trans 'file of' %} {{ object }}">{% trans 'file' %}</a>
    </li>
    <li class="{% if tab == 'stats' %}active{% endif %}">
        <a href="{% url user_detail_tab object.username 'stats' %}" title="{% trans 'statistics of' %} {{ object }}">{% trans 'statistics' %}</a>
    </li>
    <li class="{% if tab == 'picks' %}active{% endif %}">
        <a href="{% url user_detail_tab object.username 'picks' %}" title="{% trans 'picks of' %} {{ object }}">{% trans 'picks' %}</a>
    </li>
</ul>
{% endblock %}

{% block body_head %}
    <div class="image">
		{% avatar object %}
	</div>

	<div class="title">
		<h1>{{ object }}</h1>
	</div>

    {% render_popularity_for_object request object %}
{% endblock %}

{% block body %}
    {% if request.user.is_authenticated and request.user != object %}
        {% get_comment_form for object as comment_form %}
        <div class="comment_form_container">
            <form action="{% comment_form_target %}" method="post">
                {% csrf_token %}
                {{ comment_form.comment }}
                {% for field in comment_form %}
                    {% if field.is_hidden %}{{ field }}{% endif %}
                {% endfor %}
                <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
            </form>
        </div>
    {% endif %}
{% endblock %}
