{% extends 'gsm/base.html' %}

{% load i18n %}
{% load gsm_tags %}
{% load scoobet_tags %}

{% block subnav %}
<ul>
    <li class="home tab {% if tab == 'home' %}active{% endif %}">
        <a href="{{ team.get_home_absolute_url }}" title="{{ team.name }}">{% trans 'home' %}</a>
    </li>
	{% comment %}
    <li class="file tab {% if tab == 'file' %}active{% endif %}">
        <a href="{{ team.get_file_absolute_url }}" title="{{ team.name }}">{% trans 'file' %}</a>
    </li>
	{% endcomment %}
    {% if team.has_squad %}
    <li class="squad tab {% if tab == 'squad' %}active{% endif %}">
        <a href="{{ team.get_squad_absolute_url }}" title="{{ team.name }}">{% trans 'squad' %}</a>
    </li>
    {% endif %}
	{% comment %}
    <li class="news tab {% if tab == 'news' %}active{% endif %}">
        <a href="{{ team.get_news_absolute_url }}" title="{{ team.name }}">{% trans 'news' %}</a>
    </li>
	{% endcomment %}
    {% if sport.slug == 'soccer' %}
    <li class="statistics tab {% if tab == 'statistics' %}active{% endif %}">
        <a href="{{ team.get_statistics_absolute_url }}" title="{{ team.name }}">{% trans 'statistics' %}</a>
    </li>
    {% endif %}
    <li class="calendar tab {% if tab == 'calendar' %}active{% endif %}">
        <a href="{{ team.get_calendar_absolute_url }}" title="{{ team.name }}">{% trans 'calendar' %}</a>
    </li>
    <li class="picks tab {% if tab == 'picks' %}active{% endif %}">
        <a href="{{ team.get_picks_absolute_url }}" title="{{ team.name }}">{% trans 'picks' %}</a>
    </li>
</ul>
{% endblock %}

{% block body_head %}
	<div class="image">
		<img src="{{ team.get_large_image_url }}" />
	</div>
	
	<div class="title">
		<h1>{{ team }}</h1>
	</div>

	<div class="action">
    {% if team in request.user.gsmentity_set.all %}
        <a class="button" href="{% url gsm_fan 'unbecome' 'GsmEntity' team.pk %}">{% trans 'i do not bet on it' %}</a>
    {% else %}
        <a class="button" href="{% url gsm_fan 'become' 'GsmEntity' team.pk %}">{% trans 'i bet on it' %}</a>
    {% endif %}
	</div>
    
    {% render_popularity_for_object request team %}
{% endblock %}
