{% extends 'gsm/base.html' %}

{% load i18n %}
{% load gsm_tags %}

{% block body %}
<h1>{{ team.name }}</h1>
{% endblock %}

{% block subnav %}
<ul>
    <li class="home tab {% if tab == 'home' %}active{% endif %}">
        <a href="{{ team.get_home_absolute_url }}" title="{{ team.name }}">{% trans 'home' %}</a>
    </li>
    <li class="file tab {% if tab == 'file' %}active{% endif %}">
        <a href="{{ team.get_file_absolute_url }}" title="{{ team.name }}">{% trans 'file' %}</a>
    </li>
    <li class="squad tab {% if tab == 'squad' %}active{% endif %}">
        <a href="{{ team.get_squad_absolute_url }}" title="{{ team.name }}">{% trans 'squad' %}</a>
    </li>
    <li class="news tab {% if tab == 'news' %}active{% endif %}">
        <a href="{{ team.get_news_absolute_url }}" title="{{ team.name }}">{% trans 'news' %}</a>
    </li>
    <li class="statistics tab {% if tab == 'statistics' %}active{% endif %}">
        <a href="{{ team.get_statistics_absolute_url }}" title="{{ team.name }}">{% trans 'statistics' %}</a>
    </li>
    <li class="calendar tab {% if tab == 'calendar' %}active{% endif %}">
        <a href="{{ team.get_calendar_absolute_url }}" title="{{ team.name }}">{% trans 'calendar' %}</a>
    </li>
    <li class="prognostics tab {% if tab == 'prognostics' %}active{% endif %}">
        <a href="{{ team.get_prognostics_absolute_url }}" title="{{ team.name }}">{% trans 'prognostics' %}</a>
    </li>
</ul>
{% endblock %}


