{% extends 'gsm/team/base.html' %}

{% load i18n %}
{% load gsm_tags scoobet_tags %}

{% block body %}{{ block.super }}


    {% if next_sessions %}
        <h2 class="next_matches"><a href="{{ team.get_calendar_absolute_url }}" title="{% trans 'Calendar for team' %} {{ team.name }}">{% trans 'calendar' %}</a></h2>
        {% gsm_sessions_render next_sessions %}
    {% endif %}

    <h2>{% trans 'best tipsters' %}</h2>
    {% with team.get_rankings|limit_qs:5 as user_list %}
        {% render_user_rankings request user_list %}
    {% endwith %}

    <h2>{% trans 'random tips' %}</h2>
    {{ bet_list_helper.render_bet_table }}

    {% if resultstable %}
        <h2 class="results_table">{% trans 'results table' %}</h2>
        {% gsm_resultstable_render resultstable %}
    {% endif %}
{% endblock %}
